[2012-08-31 09:01] dromagnoli opened #1 "some requests involving SLD service which were working against 2.1.x seem are not working against 2.2.x"
A request like this one:

http://localhost:8080/geoserver/wms?VERSION=1.1.1&FORMAT=image%2Fpng&TRANSPARENT=true&TIME=2010-08-23T00%3A00%3A00.000Z&ELEVATION=0.0&SLD=http%3A%2F%2Flocalhost%3A8080%2Fgeoserver%2Frest%2Fsldservice%2Fnurc%3ATDA_output_27082012141316814_risknotrunfpb%2Frasterize.sld%3Fclasses%3D25%26ramp%3Djet%26min%3D72.2274147678016%26max%3D72.2274147678016&LAYERS=nurc%3ATDA_output_270

[2012-10-07 21:16] simboss opened #6 "ImageMosaic FeatureInfo enrichment"

[2013-03-27 09:42] aaime opened #12 "[MD] [WMS,WCS] Use DimensionDescriptor in WMS/WCS"
Update code to use the dimension descriptors to fetch the dimension values if the reader is structured

[2013-04-03 17:05] simboss opened #13 "[MD} [data] Gather Information on provided data samples"

[2013-04-03 17:06] simboss opened #14 "[MD] [WCS-EO] Basic Machinery"

[2013-04-03 17:06] simboss opened #15 "[MD] [WCS-EO] DescribeEOCoverage"

[2013-04-03 17:06] simboss opened #16 "[MD] [WCS-EO] GetCoverage"

[2013-04-05 10:54] #13 closed, assigned to dromagnoli

[2013-04-05 10:56] dromagnoli opened #17 "GeoServer: check readers caching"
Right now, readers are not cached due to hints not implementing hashCode.
This may result in imageMosaic (configured on PostGis index), stop working after several requests (max connections limit reached) since it creates a new reader each time.

[2013-04-19 17:37] #17 closed, assigned to aaime

[2013-04-19 17:38] #6 closed, assigned to nobody

[2013-04-19 17:38] #1 closed, assigned to nobody

[2013-05-07 08:20] aaime opened #18 "[MD] Rest API: structured coverage granule count"
A new resource allowing to count granules without getting them

[2013-05-07 08:21] aaime opened #19 "[MD] Ability to delete a coverage from a structured grid reader"

[2013-05-07 08:21] aaime opened #20 "[MD] Allow to select attribute in structured coverage granule output"
&propertynames=x,y,z

[2013-05-13 15:30] aaime opened #21 "[MD] Add support for paging dataset descriptions"
Add offset/limit parameters to the DescribeEODataset request

[2013-05-14 13:52] simboss opened #22 "[MD] [WCS] Possibility to perform a dry run for WCS GetCoverage"
It would be good to have somehow a way to perform a dry run or to actually warn the clients right away that the request is too big and cannot be performed.

This is quite important for download services in order to not have users spend a lot of time into creating a request that then would fail.

[2013-05-14 14:00] simboss opened #23 "[MD] [WCS] Error with WCS 1.0 and GetCoverage with bilinear interpolation"

[2013-05-14 14:35] simboss opened #24 "[WD][GeoTiff] Problem with Natural Earth geotiff data"

[2013-05-14 16:29] aaime opened #25 "[MD] Allow configuration of mosaics with REST upload of ZIP file"
Now we rely only only on the external method. The uploaded mosaic is likely to point to an external dir, but could also contain data

[2013-05-15 11:05] aaime opened #26 "[MD] Netcdf output format for WCS 2.0"

[2013-05-15 11:06] aaime opened #27 "[MD] Add support for elevation in WCS 2.0"
Most likely picking the closest elevation value (NN interpolation along the z axis)

[2013-05-15 11:09] aaime opened #28 "[MD] Allow selection of dimension default value"
Combo box with none, min, max, eventually user defined?

[2013-05-21 17:28] simboss opened #29 "[MD] Advertise custom dimension native type"

[2013-05-24 12:43] dromagnoli opened #30 "[MD] Extract time and elevation subsetting from getCoverage to WCSDimensionSubSetHelper"

[2013-05-24 13:19] dromagnoli opened #31 "[MD] refine default values on getCoverage"
Currently, default values for dimensions are taken as simple max values of the domain.
However, this should be refined by doing a filter along the already specified dimensions.

As an instance:
Granule1: [time = T0, dimA = 10]
Granule2: [time = T0, dimA = 20]
Granule3: [time = T1, dimA = 30]
Granule4: [time = T1, dimA = 40]

Specifying only time = T0 in the request, may result into defaulting dimA

[2013-05-28 10:33] #30 closed, assigned to nobody

[2013-05-28 10:42] dromagnoli opened #32 "[MD]: Review GranuleStack proposal and implement it once a multidimensional output format (netCDF) is supported"

[2013-06-07 16:33] simboss opened #33 "[MD] Half-Pixel Interpolation Missing in DescribeCoverage and GetCoverage GML Calls"
Currently we spit out GML for DescribeCoverage and GML GetCoverage that are aligned to the Upper Left corner of the raster (which aligns to PixelInCell CELL_CORNER) but according to specs we should follow the 19123 convention which asks us to use the CELL_CENTER datum and map pixel to centre of cells.

[2013-06-07 17:22] simboss opened #34 "[MD] Review TIling Management"
Currently we tend to always retile geotiff data in output even if it was not explictly requested.

Retiling image is an heavy process, as such if not explicitly requested we should simply not do it.

In case we want to retile since the tilew or tileh is bigger than imagew or imagew  (and in case no tiling is requested) that is fine, however in this case we do not need to respcted the spec where ti

[2013-06-07 17:27] #34 closed, assigned to simboss

[2013-06-07 17:38] #24 closed, assigned to nobody

[2013-06-10 08:22] aaime opened #35 "[MD] Add support for requests spanning the dateline"
The standard does not say anything, but the WCS 1.1 one said that a request whose minLon >maxLon is supposed to span the dateline

[2013-06-10 08:24] #14 closed, assigned to aaime

[2013-06-10 08:24] #15 closed, assigned to aaime

[2013-06-10 08:24] #16 closed, assigned to aaime

[2013-06-10 08:25] #27 closed, assigned to dromagnoli

[2013-06-10 08:25] aaime opened #36 "[MD] Investigate support for bilinear interpolation on axis other than x/y"

[2013-06-10 08:26] #29 closed, assigned to dromagnoli

[2013-06-10 10:07] #33 closed, assigned to simboss

[2013-07-08 07:46] massimocostantini opened #37 "Problemi GetFeatureInfo with POINT XYZM ( Unknown WKB type 152 )"
When Geoserver (2.2.5) tray to access at POSTGIS Feature type Point 4D return a java exception: exception occurred while parsing WKB data Unknown WKB type 152

This is the stack trace:
ava.lang.RuntimeException: org.geotools.data.DataSourceException: An exception occurred while parsing WKB data
  at org.geotools.jdbc.JDBCFeatureReader.next(JDBCFeatureReader.java:314)
  at org.geotools.jdbc.JDBCFea

[2013-07-15 16:41] aaime opened #38 "Expose NODATA as swe:NiValue"
At the moment the WCS code does not encode NODATA values in source files as swe:NilValue

The GeoTiff reader has nodata handling, but once we mosaic data, we lose that information, the mosaic should preserve it (a new nodata config in the mosaic?)

Also, we should check if the nodata values are handled in netcdf.

Finally, we need to consider how the NODATA is exposed. Right now it's part of the S

[2013-07-16 17:26] simboss opened #39 "[MD] Improve Harvest Operation for ImageMosaic to accept relative paths"
It would be nice to use relative paths when harvesting files in GeoServer since the Creation with ZIP upload may be done with relative paths.

[2013-07-18 10:46] aaime opened #40 "[MD] Failure to create a wms eo group makes it impossible to continue the process after fixing the original issues"
Situation:
- a set of mosaic that point to the wrong postgis database
- all layers are configured in the UI
- the creation fails due to db connection failure (and the appropriate error message is visible
- the details are fixed, but the creation of the group fails because the store is already there

The code should check if the existing store has the same params as the one we're trying to create,

[2013-07-18 10:47] aaime opened #41 "[MD] The WMS EO creation wizard needs to be clarified"
Right now it seems that both flags and parameters are mandatory, while they are not, and there is no way to add more than one of those. We need a GUI that allows people to add more than one, and starts with none

[2013-07-18 10:48] aaime opened #42 "[MD] The layer group edit panel should make it evident what is flag and what is parameter"
The table should have an extra column showing what is what.

Also, the styles for the flags should not be editable... no? The standard mandates a certain set of styles, should we allow their modification?

[2013-07-18 10:49] aaime opened #43 "[MD] Adding a layer in a wms eo group is confusing"
There should be two or maybe even three add layer buttons, one to create a new param from scratch, one to create a new flag from scratch, and one to add an already existing layer (just in case)

[2013-07-18 11:51] aaime opened #44 "[MD] When working in stacking mode the band names should follow the selected bands"
Doing a GetFeatureInfo in this preview (notice the CHANNEL parameter)
http://localhost:8080/geoserver/wmseo/wms?service=WMS&version=1.3.0&request=GetMap&layers=test5_BANDS&styles=&bbox=-2.0,-22.0,65.0,60.0&width=512&height=418&srs=EPSG:4326&format=application/openlayers&DIM_CHANNEL=01,11,02

results in this:

![bands](https://f.cloud.github.com/assets/325433/818807/42cb53f2-efa0-11e2-8b19-ba7eefc1

[2013-07-18 11:56] aaime opened #45 "[MD] Add tests for the WMS EO callbacks"
Test coverage shows there are not tests for the getmap and getfeatureinfo callbacks

[2013-07-18 11:56] aaime opened #46 "[MD] Add tests for the WMS EO user interface"
Cobertura reports show there is not a single test for the GUI

[2013-07-18 12:20] aaime opened #47 "[MD] WMS-EO, remove code duplication between EOGetFeatureInfoChecker and EOGetMapChecker"
There is a significant chunk of code that seems to be copied and pasted

[2013-07-18 12:25] aaime opened #48 "[MD] WMS-EO module lacks documentation"
There is nothing in the community docs

[2013-07-18 12:27] aaime opened #49 "[MD] When adding a new phisical param for WMS-EO, it would be nice if the UI allowed to upload/edit a style too"
Rationale: it's already creating the layer for us, seems fitting

[2013-07-18 12:59] aaime opened #50 "[MD] Add a flag to control whether the WMS-EO compliance should be strict"
A WMS EO should throw exceptions if the time dimension is missing, and if the bands are not specified.
Now we are lenient against both, but someone setting up a server might want one that could actually pass the standard ATS

[2013-07-18 13:07] aaime opened #51 "[MD] WMS-EO GetFeatureInfo in text/xml format does not work"
[code]

results in:

[code]

[2013-07-18 15:43] dromagnoli opened #52 "[PGRaster] - follow up the GSDevel discussion about ResourcePool forcing to get always a file from an URL"
ResourcePool.getGridCoverageReader invoke this method:
GeoserverDataDirectory.findDataFile

which always return a file.
I have started a discussion on GS_devel about the possibility to use a simple String instead for Stores which deal with custom URLs.

As an instance, PGRaster Store support an URL like this:
pgraster://user:password@server:port:database.schema.table.....

[2013-07-18 15:47] dromagnoli opened #53 "[PGRaster] [Wicket] : Change advanced parameters title and validator"
Right now the text boxes used to do the simplified PGRaster configuration show a label which is the parameter name (as an instance "importopt" whilst I would like to show "raster2pgsql importing options", "fileext" instead of "file filter extension" (for a "*.png" entry).

I suppose it's a trivial task.

Also make sure to use a proper numeric validator for PORT and EPSGCODE entries

[2013-07-18 15:47] dromagnoli opened #54 "[PGRaster]: model setting for URL TextParamPanel"
Make sure to check that proper models are set for the components

[2013-07-19 09:09] aaime opened #55 "[MD] Mosaic create the same NetCDF reader hundreds/thousands of times"
If the dimensions are not setup, or are not fully setup, the same netcdf file reader will be created over and over and over by the mosaic, once per granule.
Maybe it's better if we setup a per request cache so that the reader is only opened once per request regardless of the data setup?

[2013-07-26 10:02] #52 closed, assigned to nobody

[2013-07-26 12:24] #53 closed, assigned to nobody

[2013-08-06 12:18] dromagnoli opened #56 "[MD-OUTPUT]: Propose an API change to CoverageResponseDelegate and GridCoverage"
Right now, then CoverageResponseDelegate has an encode method with this signature:

encode(GridCoverage2D coverage, String outputFormat, Map<String,String> econdingParameters,OutputStream output) throws ServiceException, IOException;

Note that it only encodes GridCoverage2D objects.
We should propose to move to a GridCoverage instead and also make sure to add a dipose method to the GridCoverage i

[2013-08-06 12:20] dromagnoli opened #57 "[MD-Output]: Cleanup the code (group classes in separate module if needed)"
We may consider having NetCDF output support as a separate module (with its classes) in order to avoid introducing unrequired dependencies.

[2013-09-13 11:40] dromagnoli opened #58 "[MD-Output]: Take care of minX, minY from RenderedOp when writing the NetCDF data"
During a test I got an ArrayOutOfBounds  exceptions which was due to not translating pixel coordinates from the rendered Op to proper 0-based coordinates into the NetCDF array.

[2013-09-13 11:46] #58 closed, assigned to nobody

[2014-05-27 10:30] kmhala opened #61 "Rendering layers on-the-fly"
Hi,
I am using Geoserver and openLayers for rendering map layers.
The task I have to do is as:
I will have a set of zipcodes of US. I need to display a map of states for each zipcode.
Suppose a user clicks on one of the states. The next is to render a layer with all the counties of that state. Further a click on county will render a map of cities of that county and so on.
To create layers dynamica

[2014-08-20 11:38] etj opened #64 "GeoFence: fix generation of dependency ZIP (master)"
The zip file containing the jar deps for the geofence community module is not created properly.

[2014-08-20 11:38] etj opened #65 "GeoFence: fix generation of dependency ZIP (2.5.x)"
The zip file containing the jar deps for the geofence community module is not created properly.

[2014-08-20 11:41] etj opened #66 "GeoFence: jenkins"
Create jenkins jobs to create the geserver .war files which include the geofence community module.
This is needed for both master_geofence and 2.5.x_geofence.

[2014-08-20 11:41] etj opened #67 "GeoFence: push to official repo"

[2014-09-30 09:59] afabiani opened #68 "[wps-remote] Add Test Cases with an Embedded XMPP Server"

[2014-09-30 10:04] #68 closed, assigned to nobody

[2015-02-24 12:06] afabiani opened #70 "Align WPS Remote and Resource branch to 2.8-SNAPSHOT"

[2015-02-24 12:56] afabiani opened #71 "- Allow WPS Remote to stream out file type binary resources"

[2015-02-26 15:59] #70 closed

[2015-02-26 15:59] #71 closed

[2015-02-26 16:01] afabiani opened #72 "- Allow WPS Remote Process Factory to import base RawData"

[2015-02-27 13:16] #72 closed

[2015-02-27 13:17] afabiani opened #73 "- Remote WPS: use pID on automatic layer import in order to generate a compliant layername"

[2015-02-27 13:41] #73 closed

[2015-03-10 14:32] afabiani opened #79 "- ResponseUtils buildURL encodes also legal characters"
By using URLEncode the ResponseUtil does and HTML encode of the URL.

URI toASCIIString() should be used instead.

[2015-03-10 14:34] #79 closed

[2015-03-10 14:34] afabiani opened #80 "- RawDataPPIO more resistant to NPEs"

[2015-03-10 14:35] #80 closed

[2015-03-10 14:37] afabiani opened #81 "- [RemoteWPS] Add support for defaultStyles and targetWorkspaces"

[2015-03-10 14:39] #81 closed

[2015-03-10 18:26] afabiani opened #82 "- [RemoteWPS] Allow GeoServer to reconnect to XMPP automatically"

[2015-03-10 18:29] #82 closed

[2015-05-13 14:08] cippino opened #89 "LayerGroup styles in Json rest response BUG"
Hi all,
I found a bug related the list of styles in a layergroup json.
Step to reproduce:
- run a geoserver (tested with 2.6.1 and 2.7.0)
- connect to .../geoserver/web and make login
- go to Layer Groups  and add a new one (called example001) with, at least, three layer with default style checked for every ones
- go to .../geoserver/rest/layergroups/example001.json

If you look at the file, you c

[2015-08-04 09:12] cippino opened #90 "BUG Problem parsing JSON for SQL layers"
Hi all,
I'm tring to override a sql layer on geoserver using rest interface (json).

My workflow is:
1. get the original json from geoserver
2. clone json using org.json java libs
3. override original metadata entry with the follow

4.  push it on geoserver using rest api.

What I get is this error on geoserver:

As defined on json.org:

so why geoserver checks about keys order?

I tested it on ge

[2015-08-04 12:28] cippino commented on #90
https://osgeo-org.atlassian.net/browse/GEOS-7138

[2015-08-04 12:53] #90 closed

[2016-03-02 11:55] cippino commented on #89
See https://osgeo-org.atlassian.net/browse/GEOS-7443.

[2016-03-02 11:55] #89 closed

[2017-02-05 13:19] Mounirsky opened #96 "Updating some coverage parameters using geoserver rest api "CURL" ( json format)"
I'm using geoserver 2.10 REST api to upload a mosaic layer and changing some defaults coverage parameters... The problem is when I want to use json format for XPUT it don't work ! here are the commands I use :

[code]

[code]

It's OK for XGET but for XPUT I got the following :

[code]

Here is the content of coverage.json :

[code]

Any help will be appreciate,

Regards,

[2019-01-04 08:46] gt-novelt opened #102 "geoserver 2.9.x and 2.9.x-oauth2 reversed on official repo"
It seams that  _**geoserver-2.9.x.war**_ and _**geoserver-2.9.x-oauth2.war**_ are reversed on the new official repository. Same goes with _**data-2.9.x.zip**_ and _**data-2.9.x-oauth2.zip**_.

https://build.geo-solutions.it/geonode/geoserver/latest/geoserver-2.9.x.war
https://build.geo-solutions.it/geonode/geoserver/latest/geoserver-2.9.x-oauth2.war

https://build.geo-solutions.it/geonode/geoserve

[2019-05-09 08:43] #38 closed

[2019-05-09 08:43] #39 closed

[2019-05-09 08:43] #40 closed

[2019-05-09 08:43] #41 closed

[2019-05-09 08:43] #42 closed

[2019-05-09 08:43] #43 closed

[2019-05-09 08:43] #44 closed

[2019-05-09 08:43] #45 closed

[2019-05-09 08:43] #46 closed

[2019-05-09 08:43] #47 closed

[2019-05-09 08:43] #48 closed

[2019-05-09 08:43] #49 closed

[2019-05-09 08:43] #50 closed

[2019-05-09 08:43] #51 closed

[2019-05-09 08:43] #54 closed

[2019-05-09 08:43] #55 closed

[2019-05-09 08:43] #56 closed

[2019-05-09 08:43] #57 closed

[2019-05-09 08:43] #61 closed

[2019-05-09 08:43] #64 closed

[2019-05-09 08:43] #65 closed

[2019-05-09 08:43] #66 closed

[2019-05-09 08:43] #67 closed

[2019-05-09 08:43] #12 closed

[2019-05-09 08:43] #18 closed

[2019-05-09 08:43] #19 closed

[2019-05-09 08:43] #20 closed

[2019-05-09 08:43] #21 closed

[2019-05-09 08:43] #22 closed

[2019-05-09 08:43] #23 closed

[2019-05-09 08:43] #25 closed

[2019-05-09 08:43] #26 closed

[2019-05-09 08:43] #28 closed

[2019-05-09 08:43] #31 closed

[2019-05-09 08:43] #32 closed

[2019-05-09 08:43] #35 closed

[2019-05-09 08:43] #36 closed

[2019-05-09 08:43] #37 closed

[2019-05-09 08:48] mbarto opened #111 "Add MetadataMap to StyleInfo"
Most of the catalog info objects have a MetadataMap to store metadata.
StyleInfo (StyleInfoImpl) misses that.
It would be useful to add it, so that we can append metadata to styles (title, description) to be used by clients.
The metadata should be properly serialized (saved/loaded) in GS catalog and be updatable / readable by the REST APIs.

[2019-05-09 14:42] simboss commented on #111
@fernandor777 we need an estimate for this as well as a plan of action.

Ideally we would need to backport this change to 2.15 for GeoNode.

[2019-05-10 16:30] fernandor777 commented on #111
On investigation(fast prototype) adding metadataMap filed to StyleInfo and StyleInfoImple enables Geoserver to serve and persist metadata on styles Rest items.

Plan:
- Add MetadataMap field to StyleInfoImpl class and StyleInfo interface.
- Add Rest integration tests.
- Live tests with Geoserver and curl.
- Backporting.

Estimate: 3 hours.

[2019-05-10 17:06] simboss commented on #111
I will need this to be backported to 2.15 as we need for the geonode integration.

@aaime do you think we have issues with this backport?

[2019-05-10 17:31] aaime commented on #111
I don't see a problem, it's new functionality that should not cause side effects, the usual 1 month cooldown applies though.

[2019-05-10 17:33] simboss commented on #111
We need this before the geonode relase (half June).

Ideally asap so we can test it thoroughly.

[2019-05-10 17:35] simboss commented on #111
@fernandor777 keep @allyoucanmap and @afabiani in the loop as they need to test this

[2019-05-10 17:36] fernandor777 commented on #111
Ok, working on it.

[2019-05-12 15:46] simboss commented on #111
@mbarto @aaime there is a PR out for this [here](https://github.com/geoserver/geoserver/pull/3489) make sure you review and we close this as it is needed by the GeoNode integration.

Ideally we would need this on the 2.15.x.
Keep @afabiani and @allyoucanmap  in the loop.

[2019-05-31 09:13] aaime opened #117 "Conflict between CSS and GeoFence plugin"
Both the CSS module and GeoFence depend on ASM directly, but using different versions of it, causing a clash. The firs AMS jar found in the classpath will determine which one of the two plugin ends up working, while the other won't (the result is unpredictable).

Ideally both modules should just shade their dependency on ASM, but having just one do so will do the trick:
* For CSS the issue is in t

[2019-08-07 16:57] aaime opened #125 "DNS resolution can cause monitoring to go OOM"
A DNS reverse lookup is always performed as a post-task in monitoring, in a background thread.
If the DNS does not respond the thread queue can grow indefinitely and cause OOM.

Since the DNS reverse lookup operation in Java has no timeout settings, add a way to disable the reverse lookups instead. @simboss suggested to do it by default, however, that would break backwards compatibility, so not su

[2019-10-04 18:55] #111 closed

[2019-12-04 14:48] simboss opened #122 "Error in SQL conversion when function uses a like expression"
See [this issue](https://osgeo-org.atlassian.net/browse/GEOT-6363) which is bothering us on MapStore.

We need this to get fixed on all the available branches.

We can ask more details to @offtherailz as needed.

[2019-12-04 16:12] #96 closed

[2019-12-04 16:12] simboss commented on #96
This kind of issues should go to the GeoServer JIRA [here](https://osgeo-org.atlassian.net/projects/GEOS/summary).

[2019-12-04 16:12] simboss commented on #102
This kind of issues should go to the GeoServer JIRA [here](https://osgeo-org.atlassian.net/projects/GEOS/summary).

[2019-12-04 16:12] #102 closed

[2019-12-05 09:15] simboss opened #123 "Backport GEOS-9361 to 2.1.6.x"
[Here](https://github.com/geoserver/geoserver/pull/3814) is the PR merged on master.
[Here](https://github.com/geoserver/geoserver/wiki/GSIP-181) is the proposal.

USual procedure:
1. ask the devel list, mention thatn more than 1 month has passed since the merge on master and that we have ben using this in a custom build so we are confident
2. once people respond, cherry pick the changes to the 2.

[2019-12-05 09:38] imranrajjad commented on #123
email sent on developer ML

[2019-12-05 10:02] imranrajjad commented on #123
2.16.x PR : https://github.com/geoserver/geoserver/pull/3923

[2019-12-05 10:40] simboss commented on #123
did you do a full build plus some quick testing for this?

[2019-12-05 11:08] imranrajjad commented on #123
full build, yes
quick testing, no, I am not really not aware of the functionality/feature but I can spend some time on it to confirm.

[2019-12-05 13:41] simboss commented on #123
k

[2019-12-06 05:45] imranrajjad commented on #123
@simboss  tested on 2.16.x, its good to go

[2019-12-09 08:41] imranrajjad commented on #122
@simboss

### Root Cause

I have conducted initial investigation into the matter. Apparently the String function implementation  are hard wired to evaluate a feature and not a feature type. See [FilterFunction_strToLowerCase.java](https://github.com/geotools/geotools/blob/master/modules/library/main/src/main/java/org/geotools/filter/function/FilterFunction_strToLowerCase.java#L39)

Whereas the Abs

[2019-12-09 12:45] imranrajjad commented on #122
PR : https://github.com/geotools/geotools/pull/2690

[2019-12-09 13:29] simboss commented on #122
thx @imranrajjad

once this gets merged, please backport to all active branches.

[2019-12-09 13:38] simboss opened #124 "Integrated GWC does not kick in when making request not qualified by workspace"
[This](https://app.mapstand.com/geoserver/geonode/ows?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fpng8&TRANSPARENT=true&LAYERS=mps_mapping_licenceheader&STYLES=&SRS=EPSG%3A3857&CRS=EPSG%3A3857&TILED=true&WIDTH=512&HEIGHT=512&BBOX=0%2C5009377.085697312%2C5009377.085697311%2C10018754.171394624) request gets cached by the integrated GWC (see the  geowebcache-cache-result: HIT response hea

[2019-12-09 15:50] #123 closed

[2019-12-10 12:20] imranrajjad commented on #122
backport PRs:

22.x : https://github.com/geotools/geotools/pull/2692
21.x : https://github.com/geotools/geotools/pull/2693

[2019-12-12 14:48] simboss opened #126 "[GEOS-9428] Authkey role service filters broken on 2.16+"
This has been reported recently and it is captured in [this](https://osgeo-org.atlassian.net/browse/GEOS-9428) report which is pretty detailed and suggest a solution.

I am giving priority to this once since it comes from GeoNode people who are testing the new version of GeoServer.

We need to make sure whatever this was we find a way to put there a unit test to prevent this from happening int he

[2019-12-13 09:50] nmco commented on #122
Backports pull requests merged:
https://osgeo-org.atlassian.net/browse/GEOT-6363

@imranrajjad monitor GeoServer \ GeoTools for build failures.

[2019-12-13 09:50] #122 closed

[2019-12-13 09:56] nmco commented on #126
@imranrajjad can evaluate the proposed solution (doe it makes sense? will ti actually fix the problem?), and estimate it?

[2019-12-13 10:05] nmco commented on #125
@imranrajjad can you propose a plan for this and estimate?

[2019-12-13 15:00] imranrajjad commented on #125
@nmco

so the things needs to be done as proposed in the document

-Make DNS lookup configurable, that will require a new configurable option in properties file, that can define an ignore processor list.
-Create a cache, which will store information repeated in requests e.g IP, Location and other fields (perhaps the list is long). The  cache will need some sort of configuration also. As in life ti

[2019-12-13 15:01] imranrajjad commented on #126
@simboss
apologies, I could not look into this today. I will get back with an estimate ASAP.

[2019-12-13 15:16] nmco commented on #125
@imranrajjad could you detail more your plan? Your plan description shoudl answer at least the questions bellow:

Regarding the configuration:

What do you mean by configurable? Deactivate or activate?
Which properties file?
What do you mean by _can define an ignore processor list_?

Regarding the cache:

Where and when will the cache be used? What's is propose? What data will it contain?
How will

[2019-12-13 16:26] simboss opened #127 "[GEOS-9433] Bad rendering with preparedStatements"
This is captured in [this issue](https://osgeo-org.atlassian.net/browse/GEOS-9433).

This work is for EUMETSAT Pathifinder WP1

[2019-12-13 16:27] simboss commented on #127
As usual, let's start with a few hours investigation to provide me with an estimate and an implementation plan!

[2019-12-13 18:28] simboss opened #128 "WCS GetCoverage fails with small bounding box"
[GEOS-9314](https://osgeo-org.atlassian.net/browse/GEOS-9314)

[2019-12-16 07:18] imranrajjad commented on #125
### Detailed Implementation Plan

@nmco The issue revolves around asynchronous DNS lookup calls that amass a lot of objects in memory and eventually resulting in an OOO. As suggested by the investigation document, the `monitor` extension needs to features

#### 1. Ability to Enable/Disable DNS Lookup
We should be able to disabled `ReverseDNSPostProcessor` (or any other processor that might derade

[2019-12-17 13:02] imranrajjad commented on #126
@simboss  I was unable to produce the described error on both master and 2.16.x

My Environment:

- Win 10
- JDK 8
- Tomcat 9

I will reply on the JIRA to get more information from client

[2019-12-17 14:30] imranrajjad commented on #126
###Update

I was able to re-produce by downloading the lastest release and related plugins and run them  into a standalone tomcat (not from IDE).  The error occurs on UI when you login to a directory which has AuthRest Role service and Geofence enabled

[code]

[2019-12-17 15:07] imranrajjad commented on #126
@nmco

`net.minidev.asm.FieldFilter` which has implementations inside one of authey`s dependencies

The issue is being caused by the authkey dependency

[code]

The interface `net.minidev.asm.FieldFilter` is present inside on of the dependencies of json-path but it does not get packaged with authkey module and hence the class not found error. The packaging of authkey module needs to make sure that

[2019-12-17 15:55] giohappy opened #129 "[geonode-oauth2] Include basic auth header for Oauth2 token instrospection requests"
Currently no authentication is provided when geonode.oauth2 sends requests to introspect token (for example when calling tokeninfo/ endpoint in GeoNode).
As suggested by common best practices for Oauth2 an authentication is highly encuraged to reduce the exposure to attacks exposure and prevent user private data leakage.

The proposal is to add an auth header inside the requests with basic auth en

[2019-12-18 05:35] imranrajjad commented on #125
@aaime can you please verify and comment on my plan to get around this issue.

[2019-12-18 08:59] nmco commented on #126
So @imranrajjad is that an issue with the module assembly specification?
https://github.com/geoserver/geoserver/blob/master/src/release/ext-authkey.xml

If yes, then check @aaime comments on the GeoServer chat and then go ahead.

[2019-12-18 09:56] aaime commented on #125
I had a look at the code, the reverse DNS lookup is already caching the recent IPs using a soft cache with 100 hard references (the others will be soft references), so it seems a new cache is not needed after all (please update your estimates accordingly). The original "timeout" considerations were based on the DNS lookup operation itself, which does not seem to accept a network timeout. Adding a

[2019-12-18 10:24] imranrajjad commented on #126
master : https://github.com/geoserver/geoserver/pull/3937

[2019-12-18 10:39] imranrajjad commented on #125
@aaime thanks for the feedback

updated estimates:
Cache timeout : 1 day
Ignoring post processors: 1 day

[2019-12-18 11:05] afabiani commented on #129
ref. https://osgeo-org.atlassian.net/browse/GEOS-9435

[2019-12-18 13:59] aaime opened #130 "WCS 1.0 test package build"
Build to deploy in repositories the test suite for this protocol.
* Repository: https://github.com/opengeospatial/ets-wcs10
* Version, latest: https://github.com/opengeospatial/ets-wcs10/releases

Parametes: both repo and branch/tag to build
Deploy: on OSGeo

Setup for the deploy:
[code]

[2019-12-18 14:00] aaime opened #131 "WCS 1.1 test package build"
Build to deploy in repositories the test suite for this protocol.
* Repository: https://github.com/opengeospatial/ets-wcs11
* Version, latest

Parametes: both repo and branch/tag to build
Deploy: on OSGeo

Setup for the deploy:
[code]

[2019-12-18 14:01] aaime opened #132 "WMS 1.1 test package build"
Build to deploy in repositories the test suite for this protocol.
* Repository: https://github.com/opengeospatial/ets-wms11
* Version, latest

Parametes: both repo and branch/tag to build
Deploy: on OSGeo

Setup for the deploy:
[code]

[2019-12-18 14:02] aaime opened #133 "WMS 1.3 test package build"
Build to deploy in repositories the test suite for this protocol.
* Repository: https://github.com/opengeospatial/ets-wms13
* Version, latest

Parametes: both repo and branch/tag to build
Deploy: on OSGeo

Setup for the deploy:
[code]

[2019-12-18 14:03] aaime opened #134 "WFS 1.0 test package build"
Build to deploy in repositories the test suite for this protocol.
* Repository: https://github.com/opengeospatial/ets-wfs10
* Version, latest

Parametes: both repo and branch/tag to build
Deploy: on OSGeo

Setup for the deploy:
[code]

[2019-12-18 14:04] aaime opened #135 "WFS 1.1 test package build"
Build to deploy in repositories the test suite for this protocol.
* Repository: https://github.com/opengeospatial/ets-wfs11
* Version, latest

Parametes: both repo and branch/tag to build
Deploy: on OSGeo

Setup for the deploy:
[code]

[2019-12-18 14:05] aaime opened #136 "WCS 2.0 test package build"
Build to deploy in repositories the test suite for this protocol.
* Repository: https://github.com/opengeospatial/ets-wcs20
* Version, latest

Parametes: both repo and branch/tag to build
Deploy: on OSGeo

Setup for the deploy:
[code]

[2019-12-18 14:06] aaime opened #137 "WFS 2.0 test package build"
Build to deploy in repositories the test suite for this protocol.
* Repository: https://github.com/opengeospatial/ets-wfs20
* Version, latest

Parametes: both repo and branch/tag to build
Deploy: on OSGeo

Setup for the deploy:
[code]

[2019-12-18 14:07] aaime opened #138 "WMTS 1.0 test package build"
Build to deploy in repositories the test suite for this protocol.
* Repository: https://github.com/opengeospatial/ets-wmts10
* Version, latest

Parametes: both repo and branch/tag to build
Deploy: on OSGeo

Setup for the deploy:
[code]

[2019-12-18 15:14] aaime opened #139 "Build docker image to run Teamengine alternatively as web or command line"
See its specification here:
https://docs.google.com/document/d/18_3dVWADLiSWg2yHFTMTWo4l0Pwc_fP-qgcwmHysWCY/edit#heading=h.m1nze2v4bbk1

To be included as part of the new cite testing repository in GeoServer (also mentioned in the spec).
Should include usage documentation in the wiki.

[2019-12-18 15:17] aaime opened #140 "Docker compose to run a particular test suite on the server"
Includes a postgis image and a GeoServer image using the latest nightly of a given branch (we'll have builds for dev, stable, maintenance), and custom data directory.

See:
https://docs.google.com/document/d/18_3dVWADLiSWg2yHFTMTWo4l0Pwc_fP-qgcwmHysWCY/edit#heading=h.gwbzlp9ceuew

This is also to be included in the GeoServer CITE testing repository.

[2019-12-18 15:27] aaime opened #141 "A build per service, to run the CITE tests and report results"
A build to run each and every service against the master branch:

* [x] WMS 1.1
* [x] WMS 1.3
* [x] WFS 1.0
* [x] WFS 1.1
* [ ] WFS 2.0 (optional)
* [x] WCS 1.0
* [x] WCS 1.1
* [ ] WCS 2.0 (optional)
* [ ] WMTS 1.0 (optional)

plus a build to run them all.

I believe we'll create the stable/maintenance branch builds later, once we can pass the tests.
It would be cool if the above builds could get

[2019-12-19 07:13] imranrajjad commented on #125
@aaime

PR : https://github.com/geoserver/geoserver/pull/3943

contains implementation of ignoring post processors

[2019-12-19 15:14] #129 closed

[2020-01-07 14:57] nmco commented on #125
What's missing here @imranrajjad, only the final review from @aaime ?

[2020-01-07 15:04] nmco commented on #126
Merged, thx @imranrajjad. Please backport to 2.16.x and 2.15.x, since this a fix it can \ should be backported right away.

[2020-01-08 05:41] imranrajjad commented on #125
@nmco yes,

[2020-01-08 10:44] imranrajjad commented on #126
@nmco can you please check, its not merged

[2020-01-08 11:03] nmco commented on #126
Merged.

[2020-01-08 12:21] imranrajjad commented on #126
2.16.x backport https://github.com/geoserver/geoserver/pull/3958
2.15.x backport  https://github.com/geoserver/geoserver/pull/3959

[2020-01-21 22:36] giohappy opened #145 "Basic Auth with external authentication service"
I would like to discuss the opportunity to implement Basic Auth authentication through an external service.

The idea is to have something similar to the ["Key provider using an external service"] (https://docs.geoserver.org/stable/en/user/community/authkey/index.html#key-provider-using-an-external-web-service) offered by the Key authentication module.

I don't know the details of the Basic Auth i

[2020-01-21 22:57] giohappy opened #146 "WMS GetMap with multiple cached layers"
Currently a WMS GetMap request with multiple layers doesn't use GWC cached tiles.

I want to discuss the implementation of this feature for a client of us. The basic idea is the ability to use cached tiles when these are available for one or more of the requested layers.

[2020-01-29 09:40] simboss commented on #145
@giohappy which geoserver version are we targeting?

[2020-01-29 09:41] aaime commented on #145
I have no idea what "Basic Auth authentication through an external service" means? :-D

[2020-01-29 09:42] simboss commented on #146
@nmco can you groom this with @aaime help and then assign it to someone

[2020-01-29 09:42] simboss commented on #145
@nmco can you groom this with @aaime help and then assign it to someone

[2020-01-29 11:35] aaime commented on #146
@giohappy do you have a WMS client hitting GeoServer with the GWC transparent integration enabled?

[2020-01-29 11:44] simboss commented on #146
@aaime no, we are hitting standard GS with integrated GWC. Not even hitting GWC directly.

[2020-01-29 13:21] giohappy commented on #145
@aaime here it is our use case.

The AuthKey module permits to authenticate a user by parsing an authkey parameter. Then my intention is to map that user to its role by means of a an AuthKey REST Roles service.

I would like to implement something similar for Basic Auth access. From my understanding Geoserver's Basic Auth filter only extracts username and password credentials from the request, the

[2020-01-29 13:29] giohappy commented on #146
@aaime our specific use case doesn't require WMTS and, as alreaady said by @simboss , we're hitting GS directly. If you think the implementation should cover more use cases I leave the decision to you and @simboss .

The expected behaviour, from my point of view, is that layers tiles will be stacked the same as without a cache behind them.

[2020-01-29 13:52] aaime commented on #145
@giohappy ok now it makes sense (well some, I don't know exactly how authkey works, I wrote it originally but it went through 2 full rewrites and does not work at all like it used to).
I have looked into the code to figure out a bit how it works, here is what I've found, best if @mbarto and/or @afabiani confirm it though, I know very little about the GeoServer authentication part (the area that I

[2020-01-29 14:25] giohappy commented on #145
At least this is what I expect to happen, but I still have to veirfy it this is expected to work and it actually works. I have both the WebServiceAuthenticationKeyMapper which returns:

`{"username":"giovanni"}
`

 and the GeoServerRestRoleService which returns:

[code]

and

[code]

Roles appear correctly inside Geoserver roles tab but but I'm not able to authenticate "giovanni" yet. If my assump

[2020-01-29 14:28] aaime commented on #146
Ok, think I got it. Here is a more formal specification before we estimate:

- We want the [GWC Direct integration](https://docs.geoserver.org/latest/en/user/geowebcache/using.html#direct-integration-with-geoserver-wms) to work also for multi-layer requests *matching cacheable raster tiles*, in particular:
  - Non raster formats produced by GWC are not going to be considered, e.g., vector tiles, g

[2020-01-29 14:40] giohappy commented on #146
@aaime does this mean all-or-nothing? Either all the layers have a cache or everything will be rendered from scratch?

[2020-01-29 14:43] aaime commented on #146
No, read again: "In case the above checks pan out, each tile will be requested to GWC, **which will eventually create it if missing**".
The checks mentioned above are to verify that each layer is cacheable at all in the tile requested.

[2020-01-29 14:49] giohappy commented on #146
ok, so "a full WMS response will be used _for those layers_".

For my specific use case I'm fine with all the resitrctions that you mention (not considering STYLES, CQL, etc.) because this is mainly intended for usage on mobile without the ability to set filters, select styles, and so on.

The following point is not clear to me:

Isn't the same process that happens when we have a cache miss with n

[2020-01-29 14:51] aaime commented on #146
There is no "process", we ask GWC to process the request, if it can, it will return a tile, either from cache or freshly computed, if it does not, it means it cannot process it and we do the normal WMS path.
What I meant, there is no way to know in advance if a tile corresponding to the request is already in the tile cache, and eventually use the tile composition only if all the needed tiles are a

[2020-01-29 14:59] giohappy commented on #146
I see. The worst case is no tiles cached. In that case doing a direct WMS render would be faster then having to check each layer against GWC (and eventually waiting fot it to create the cached tile). This is the point, right?

[2020-01-29 15:01] aaime commented on #146
It all depends, but yes, depending on the combination of layers involved, the server load, it might happen that building tiles on the fly through WMS is faster than recomposing them from tiles. The worse case is not having the tiles in cache, but even having them, if the source layers are fast enough, having to decode N PNGs might take more time than actually rendering from the data.
The thing is,

[2020-01-29 15:58] simboss commented on #146
Hi @aaime good point.

Not sure @giohappy said this above but the idea is to come up with a mechanism in the TOC of the client(MapStore) where we can control how many layers we coalesce at a time to prevent having the problem you are referring to, plus to have seeding so that we have less cache writes on the most used views.

As an instance, let's say you have a maps with 20 layers (yeah that happ

[2020-01-29 16:49] giohappy commented on #146
@aaime clearly we have to find a good balance between the number of requests and the number of layers per request, but having this in place will give us the opportunity to tune things depending on the use case (mobile client vs desktop client, number and types of layers, cache configurations, etc.) .

BTW when we have cached tiles I imagine that the overload will always be less then having to hit

[2020-01-29 17:24] giohappy commented on #145
Actually it seems that the same AuthKey WebService can be used as a mix of a UserGroup service and a Role service. According to the paragraph "Optional static comma-separated list of available Groups from the Web Service response" under [this](https://docs.geoserver.org/stable/en/user/community/authkey/index.html#authkey-webservice-body-response-usergroup-service) it states the following:

from th

[2020-01-29 17:43] aaime commented on #146
Ok, some of the observations/questions I pointed out before have been answered, other ignored... let me try again with a final spec, filling in some blanks, please tell me if it's ok:

Ok, think I got it. Here is a more formal specification before we estimate:

- We want the [GWC Direct integration](https://docs.geoserver.org/latest/en/user/geowebcache/using.html#direct-integration-with-geoserver-

[2020-01-29 17:46] giohappy commented on #146
sounds good to me

[2020-01-30 10:12] giohappy commented on #146
After further analysis we noticed that the specifc case use a lot of requests with SQL parameters. This means that these should be included in the spec and caches should be configured to use them. The latter won't be done, at least not soon, so we can freeze this issue for the moment.

[2020-01-30 12:25] #126 closed

[2020-01-30 12:25] #125 closed

[2020-01-30 15:47] simboss opened #148 "Automatic PNG optimization in GeoServer"
GeoServer should automatically try reduce color quantization when we generate png from GeoServer rather than having user to ask for png8 explicitly.

@aaime what do you think?

[2020-01-31 09:07] aaime commented on #148
Should be configurable on a layer by layer basis, we don't want that for imagery (well we don't want PNG for those to start with in those, but we have no way to prevent applications from asking and PNG is a common default in desktop WMS clients). Could be there is a flag per layer, or a global flag with a default based on the type of layer (similar to GWC caching defaults?). Could also be a dynami

[2020-01-31 16:10] simboss commented on #148
Why we do not want it for imagery? Don't think only in terms of background imagery people us PNG and PNG8 with image overlys a lot. We can have also jpeg-png doing the automatic optimization for the png.

I would make this a global flag with the possibility to override on a per layer basis but also with the ability to dynamically decide if 256 colors are not enough.

[2020-02-03 15:41] giohappy commented on #145
I don't know the internal details of AuthKey, but yes both AuthKey and geonode-oauth2 (which are the two modules we currently use) do two calls. First one authenticates the user and retrieves its rolenames and the second one binds them through their respective roles services.

Roughly this is what happens (from our tests)

AuthKey:
 - AuthKey Filter -> retrieves users from the WebService Body resp

[2020-02-04 09:03] afabiani opened #149 "GeoServer 2.15.4 admin gui issues"
Some tabs throws a wierd "Same Origin" issue

[2020-02-04 16:20] nmco opened #150 "ADMIN_ROLE is assigned by default if no role is returned for a user inside WebService Body Response"
GeoServer JIRA ticket:
https://osgeo-org.atlassian.net/browse/GEOS-9484

Let's keep the discussion on this issue for the moment.

As usual let's spend a couple of hours for an initial investigation (if more time is required lets discuss) and propose a plan whit estimate for this.

[2020-02-04 20:16] #127 closed

[2020-02-04 20:17] simboss opened #151 "GeoServer "system-status" {json,xml} endpoints do not return values anymore"
Captured in [GEOS-9485](https://osgeo-org.atlassian.net/browse/GEOS-9485)

[2020-02-04 20:26] simboss commented on #151
@nmco can yuo groom this one.

It comes from GeoNode integration, I verified it on our master deployment at [this link](http://cloudsdi.geo-solutions.it/geoserver/web/).

The output is here below and it does not contains the values.

[system-status.txt](https://github.com/geosolutions-it/geoserver/files/4155865/system-status.txt)

[2020-02-04 20:27] simboss commented on #151
The fix should be backported to 2.16 as well.

[2020-02-05 13:21] taba90 commented on #150
Pull request https://github.com/geoserver/geoserver/pull/4027

[2020-02-05 15:08] afabiani opened #152 "Bump spring dependencies - security vulnerabilities"
- [critical] Bump spring-security-oauth2 from 2.0.16.RELEASE to 2.0.18.RELEASE in /geoserver
 - [high severity] Bump spring.version from 5.1.1.RELEASE to 5.2.3.RELEASE in /geoserver

[2020-02-05 15:11] taba90 commented on #151
At some point after 2.15.2 the creation of an object  of type [ValueHolder ](https://github.com/geoserver/geoserver/blob/198df2516aedbd06494615dca3084a406b36932f/src/main/src/main/java/org/geoserver/system/status/MetricValue.java#L151), needed for xml and json encoding, has been removed from the setValue method inside [MetricValue.java](https://github.com/geoserver/geoserver/blob/198df2516aedbd064

[2020-02-05 16:08] nmco commented on #150
Merged https://osgeo-org.atlassian.net/browse/GEOS-9484, please backport @taba90 :back:.

[2020-02-05 16:24] nmco commented on #151
Yes @taba90 looks like you are correct, and looks like it was removed by mistake ([during the module promotion from community to core](https://github.com/geoserver/geoserver/commit/6d54024fe550543aa81226aacad6c06504af657c)).

That say, this should have been catch [by the integration tests](https://github.com/geoserver/geoserver/blob/e967d0f76517e9245d1167f5bbe8a1c4cedc0ae2/src/main/src/test/java/o

[2020-02-05 16:25] nmco commented on #151
What's your estimate for this @taba90?

[2020-02-05 16:25] nmco commented on #151
@simboss on which project shoudl the time for this one be logged?

[2020-02-05 16:29] taba90 commented on #151
pull request https://github.com/geoserver/geoserver/pull/4030

[2020-02-05 16:53] nmco commented on #151
Review added, there is something to fix :smile:, you can then backport to 2.16.x right away.

[2020-02-05 17:10] #149 closed

[2020-02-05 18:16] nmco commented on #150
@taba90 we need this backported to 2.16.x and 2.15.x, since this is a bug fix we can go ahead.

[2020-02-05 18:39] taba90 commented on #150
@nmco here prs: 2.16.x https://github.com/geoserver/geoserver/pull/4028
2.15.x https://github.com/geoserver/geoserver/pull/4029

[2020-02-05 23:26] simboss commented on #152
@afabiani I have moved this to the GeoServer repo. Open issues here next time.

[2020-02-05 23:27] simboss commented on #152
@nmco let's discuss this with @aaime as well.

Apparently this is marked as a security threat from Github bot.

[2020-02-05 23:30] simboss commented on #152
Feedback from @aaime:

and make sure they are using versions that are aligned in the two cases
which might be tricky... we need to see if a bugfix upgrade is enough, or we need to bump from spring 5.1 to 5.2 (minor version upgrade)

The PRs we ar ementioning, were we can find them @afabiani ?

[2020-02-06 00:11] simboss opened #153 "Nearest Match NPE if source database table is empty"
This is captured in GeoServer issue [GEOS-9482](https://osgeo-org.atlassian.net/browse/GEOS-9482).

This is not a top priority but it is worth fixing as it slowed down our work on EUMETSAT OWS platform.

[2020-02-06 09:35] afabiani commented on #152
1. [Bump spring.version from 5.1.1.RELEASE to 5.2.3.RELEASE in /src](https://github.com/geoserver/geoserver/pull/4002)
2. [Bump spring.security.version from 5.1.5.RELEASE to 5.2.1.RELEASE in /src](https://github.com/geoserver/geoserver/pull/3949)
3. [Bump spring-security-oauth2 from 2.0.16.RELEASE to 2.0.18.RELEASE in /geoserver](https://github.com/GeoNode/geoserver-geonode-ext/pull/73)

**NOTE:**

[2020-02-06 10:40] nmco commented on #145
@imranrajjad before you move on with this one wait for my initial investigation.

[2020-02-06 10:46] imranrajjad commented on #145
@nmco understood

[2020-02-06 19:11] nmco commented on #145
Unfortunately I will have not time this or next week to perform the initial investigation, hence I will ask your help whit this @imranrajjad.

Please have look at Giovanni and Andrea feedback and then let's have a quick chat.

[2020-02-06 19:13] simboss commented on #145
usual thing @imranrajjad:

- check the requirements, makre sure they are clear, ask questions if they are not
- check code in GS, propose a solution that align with GS codebase
- provide an estimate and wait for the GO

[2020-02-07 18:32] imranrajjad commented on #145
Before sharing the plan and estimate, I am a bit unclear on the type of response which should be expected by the authenticating webservice. Is it a one time call which responds with roles already known to GS through available Role provider services? Or will it simply respond with a yes/no.

If there is such a service available or atleast a specification is available, it will be really helpful.

##

[2020-02-07 19:42] simboss commented on #145
@imranrajjad have read the full story above? Have you reviewed how authkey works?
If you did, well, do it again :).

In any case, you can ask details on the  service counterpart to @giohappy but, mind you, we are not developing something specific for DJAM but something rather generic like what we have for authkey.

Keep the discussion going here and keep @nmco in the loop.

[2020-02-10 15:23] nmco commented on #145
Summarizing the actions points (for you) that resulted from our call @imranrajjad:
- Finish setting up AuthKey working with an external web service so you can properly debug how it works, ask @taba90 help, he just configure it last week for another issue.
- Investigate how AuthKey works, more precisely the integration points with Spring security to support the key external web service scenario. De

[2020-02-11 11:58] giohappy commented on #145
@imranrajjad and @nmco I don't know if a custom Authentication Filter would be ok here, as it was done for geonode-oauth2 and ApiKey, or if an Authentication Provider is the right way to go.

In any case I fin that:

 - geonode-oauth2 has the most straightforward configuration (and it would be sufficient for my specific purposes): you set the username authentication endpoint and select and ApiKey

[2020-02-11 13:02] imranrajjad commented on #145
@giohappy thanks for the detailed clarification,

After going through the basic user:password based authentication and how authKey works. Below are my findings and a revised plan of implementation.

Since these requirements do not involve key mechanism, hence this implementation will go in the core and not the authkey extension.

- Currently, as rightly pointed by @aaime , [GeoServerBasicAuthentic

[2020-02-12 18:50] nmco commented on #145
@giohappy and @imranrajjad  I don't understand nothing about GeoServer security authentication neither as a user, and certainly not code wise, so please read my comments taking that into consideration.

That say, I had a quick read through the GeoServer documentation and  based on this description from @giohappy :

If we had a "Web Service Authentication Provider", able to perform the authenticati

[2020-02-13 12:02] giohappy commented on #145
@imranrajjad here below I attach an example from a working configuration of an AuthKey REST Roles Service (I will share the credentials in a private channel of course)

### Geoserver Configuration
![image](https://user-images.githubusercontent.com/571129/74433264-5c43de00-4e60-11ea-9306-7c3367ef7c3b.png)

### Sample requests
**Users endpoint**
(I'll send you <api_key> in a private channel to test

[2020-02-14 08:11] imranrajjad commented on #145
@nmco and @giohappy thanks for the meeting and clarification. Below please find the updated plan after our call yesterday.

### Litmus Test

- Configured a mock Authkey Rest Role service and AuthKEY WebService Body Response UserGroup
- Configured an Authkey filter with web service mapper as shown below

![image](https://user-images.githubusercontent.com/11514936/74510448-a17e1380-4f25-11ea-8624-34

[2020-02-14 09:35] simboss commented on #148
Interesting thing, maybe not related.

This morning we did get a PNG8 from the disk on maps (generated from GWC) and we tried to optimize it further using standard web tools as used in wordpress.

We got a reduction in size of 50% on average. So we have this crazy idea to install and run a tool that would crawl the filesystem and postprocess images.
Even if we get 20% less in size this is a huge s

[2020-02-14 09:44] giohappy commented on #145
@imranrajjad thanks for the analysis. I think it is a good plan. I'm not sure if your proposal is to implement both alternatives: extracting of roles from the web response or configuring a roles service.

With regard to this do you confirm that extracting the roles from the web service response is enough? I supposed that a Roles Service was required in any case, and one of the reasons was to insta

[2020-02-14 09:57] imranrajjad commented on #145
@giohappy

1. I propose to implement both. Please forgive my mock of radio buttons.
2. Extracting roles from Web service is indeed enough but since this has to be generic, we would want to consider the case where service does not return roles, in that scenario we will have to use an available role service, for simplicity which could the be the default one as being done here : [WebServiceBodyRespon

[2020-02-14 10:29] nmco commented on #145
Thank you for the plan @imranrajjad it matches indeed what we discuss during our meeting :+1:.

@giohappy the two options ``Parse roles from web service`` and ``Role service`` are mutually exclusive, for your use case @giohappy I think you only need the first one. That say as @imranrajjad stayed, the second option will make this solution generic enough to go into core, and I suspect that the effor

[2020-02-14 10:35] giohappy commented on #145
sorry for the insistence but let me see if I understood it correctly.

 - in case the (alternative) option to extract users from the service response, the default Roles service will be used under the hood
 - otherwise a Roles service can be configured. In this case the webservice doesn't need to return the roles inside the response, because the mapping between user and role will be done by the Rol

[2020-02-14 10:47] imranrajjad commented on #145
@giohappy no need to be sorry 😄 I am will try to clarify in easy words.

1. Option 1 : When using a configured Location service, after the web service authenticates the user, the user`s roles are extracted from the configured role service (can be default or anyother). clear?
.
2. Option 2 : Web service responds with roles, we extract the roles using regex and treat them as authorities. Then follow

[2020-02-14 17:13] giohappy commented on #145
Ok, for the second case, peeling the roles from the default roles service is not strictly required. Obatining the roles from the service response would be enough, right?

It seems redundant to me doing the extra step of "merging" roles both from regex extraction and default roles service. But if you think it's the right way to go I'm ok ;)

[2020-02-14 18:07] nmco commented on #145
@giohappy exact, for you use case you only need option 1, option 2 will be there just to make this more generic.

[2020-02-14 19:02] nmco commented on #145
I ha d a quick chat whit @giohappy, in option 1 when an user authenticates we can obtain the list of roles associated whit the user. But, we actually need roles to configure the data security rules. How does that works for AuthKey, are roles create on GeoServer? or there is a call to the configured roles service to obtain the list of availble roles?

[2020-02-14 19:33] imranrajjad commented on #145
In authkey after we get the username against the passed key, the username is passed to attached user/group service which delegates it to a either a roles service. If authkey mapper is configured to use a web service, the response is passed to authkey web response group and roles are extracted from the initial response of web service.

The data security is not coupled with user assigned roles. They

[2020-02-17 10:18] imranrajjad commented on #145
@nmco

A generic caching mechanism for basic authentication is already available which will be easily res-used in our case. A successful call of [GeoServerAuthenticationProvider.authenticate](https://github.com/geoserver/geoserver/blob/master/src/main/src/main/java/org/geoserver/security/GeoServerAuthenticationProvider.java#L52), ends up being persisted inside the session as a  Basic Authenticatio

[2020-02-17 14:36] nmco commented on #145
@imranrajjad as we discussed i our quick call, double check where the roles that will be available to configure that data rules come from:
![image](https://user-images.githubusercontent.com/1590542/74662952-d2af4b80-5192-11ea-8a31-99c63ed5728f.png)

[2020-02-18 06:38] imranrajjad commented on #145
@nmco

Given a Geoserver with three Role services, with 1 default and 2 REST services as below

![image](https://user-images.githubusercontent.com/11514936/74710219-ec0fd080-5242-11ea-907f-36eedbba9528.png)

The Data Security page shows up **ALL** available roles.

![image](https://user-images.githubusercontent.com/11514936/74710310-1e213280-5243-11ea-8af6-e7648cd695f2.png)

[2020-02-18 10:49] nmco commented on #145
Thank you for the feedback @imranrajjad, So if I understood correctly in practical terms:
- We need a new authentication provider, that will perform an authentication against a remote web service
- A role service, that could be the AuthKey one for example, where this role service needs to be able to at least:
  - Retrieve the users for a certain user
  - Retrieve all the available roles

Configuri

[2020-02-18 10:56] imranrajjad commented on #145
@nmco

we don't need a new role service, we will make use of any of the existing role services.
In case user decides to extract roles from the authentication response, we will still peek in system default role service.

Indeed the estimate stands, the unit testing will need to extensive.

[2020-02-18 14:22] giohappy commented on #145
@imranrajjad what about adding the option to send username/password inside a custom header field, instead of GET params?
My concern is that GET params will be stored inside logs.

My idea is the following: add an checkbox to define a header name (e.g. "X-HTTP-AUTHORIZATION") and pass username:password using the standard base64 encoding

If the checkbox is not flagged username and password will be

[2020-02-18 14:33] nmco commented on #145
Starting from the button @giohappy:

Yes sure.

My concern is that GET params will be stored inside logs.

My idea is the following: add an checkbox to define a header name (e.g. "X-HTTP-AUTHORIZATION") and pass username:password using the standard base64 encoding

If the checkbox is not flagged username and password will be sent as GET params ("username" and "password").

This depends on the end-

[2020-02-18 14:34] imranrajjad commented on #145
@giohappy I will let you know, we will be using the `org.geotools.data.ows.HTTPClient`, should be possible

[2020-02-18 14:40] giohappy commented on #145
@nmco I know that headers can be logged the same as GET parameters, but in general there are far more ways to leak GET params (referrer headers, logged URLs).
Of course in a m2m scenario the risk is reduced, since we don't have browser history, etc., so my proposal is not critical here.

Anyway If adopting headers sounds an overhead without real benefits to you, or it would involve a significant e

[2020-02-18 14:42] nmco commented on #145
Doesn't look significant to me, but let's wait for @imranrajjad feedback.

[2020-02-18 15:11] giohappy commented on #145
On second thought I also agree that it isn't that significant, although logging practices expose URL params more then headers.
We can forget this option for the moment.

[2020-02-20 16:25] nmco commented on #145
Just for the record, we are moving on whit this (@imranrajjad already started to work on the implementation), including the HTTP header option (you have a good point here @giohappy).

@giohappy we will share whit you a testable version as soon as possible, once you got your feedback and are all happy will create a GSIP and move on whit the contribution.

[2020-02-23 18:36] simboss opened #156 "Introduce gridsets with 512x512 tile size for common CRSs"
The rationale is simple, we need to reduce the requests for tiles where possible, hence we often use 512x512 tile size.
Why we don't make this available by default in GeoServer and be done with it?

Discussion open.

[2020-02-24 09:50] nmco commented on #156
I don't see any major issue in introducing for all the default grid-sets we already provide a 512x512 version, we could name the tile matrix sets using something like ``EPSG:4326_512x512``, I'm not aware of an already defined pattern for this.

[2020-02-24 09:52] aaime commented on #156
GWC gridsets are very outdated and have not been matching the well known gridset names for a while, and have some naming conventions that make up for emabarassing URLs (e.g., CRS name repeated in zoom level names).
If we go about changing the GWC default gridsets, I suggest also considering aligning names with the OGC standard: http://docs.opengeospatial.org/is/17-083r2/17-083r2.html

[2020-02-24 09:53] nmco commented on #156
Thinking out loud, if we know that a GeoServer instance will only be used by clients that already expect 512x512 to be provided, we could have a checkbox that would make the default ones be actually converted and published using 512x512 tiles. Not a very standard thing but would make things more practical.

[2020-02-27 08:29] imranrajjad commented on #145
@nmco @giohappy

Some snapshots of GUI

#### When reading roles from service response
![image](https://user-images.githubusercontent.com/11514936/75425524-b8c8f200-5964-11ea-8008-986107e866d7.png)

#### When using a local role service
![image](https://user-images.githubusercontent.com/11514936/75425590-dbf3a180-5964-11ea-8ba1-4f3ed83564eb.png)

#### Download Test WAR
A test  WAR file is available

[2020-02-27 08:44] giohappy commented on #145
thanks @imranrajjad we will test it ASAP

[2020-02-27 16:34] nmco commented on #145
On which branch is the code @imranrajjad ?

[2020-02-27 17:25] nmco commented on #145
Answer from @imranrajjad:
https://github.com/imranrajjad/geoserver/tree/issue_145_auth

[2020-02-28 05:23] imranrajjad commented on #145
Working branch :
 https://github.com/geosolutions-it/geoserver/tree/issue_145_auth

[2020-02-28 11:13] nmco commented on #145
@giohappy we will wait for your feedback before implement the remaining test and submit the GSIP :small_airplane:.

[2020-02-28 11:16] giohappy commented on #145
yes @nmco I think I will be able to give you a feedback on Monday.

[2020-02-28 12:03] simboss opened #172 "OSM Delivery for Envinet"
Discussion with the client [here](https://docs.google.com/document/d/1PmBohbFiqUEjovCNQ_zuNNRbZv0vwOiErHNDcOEse0M/edit)

[2020-02-28 13:22] nmco commented on #145
That's great @giohappy, thank you!

[2020-02-28 15:15] simboss opened #158 "Create new community module for GSR"
[GSR](https://github.com/geosolutions-it/gsr) is a plugin for GeoServer that helps it to mimic ESRI REST Services ( a subset of them).  The right branch is [this one](https://github.com/geosolutions-it/gsr/tree/2.16.x).

Given the new rules for contributing code back to GeoServer delinated in [GSIP-186](https://github.com/geoserver/geoserver/wiki/GSIP-186) we can now move this module back inside G

[2020-02-28 15:19] simboss commented on #158
@aaime notice that [there is a PR](https://github.com/geosolutions-it/gsr/pull/2) pending from 2019.

[2020-03-02 14:56] giohappy commented on #145
@imranrajjad I've deployed the WAR but I get the following kind of errors when trying to access Layer Preview, Tile Layers settings, Layer Groups, etc.

NOTICE: I haven't configured the new auth provider yet.

[code]

[2020-03-03 06:45] imranrajjad commented on #145
@giohappy the error logs look un-related however I have validated that they do occur on my Tomcat 8.5 instance.

I have re-based the work on fresh master branch and validated that GUI errors do not occur anymore.

Please [DOWNLOAD](https://drive.google.com/file/d/1i6EDRlBh46BdgL0JCWfTAYIcL_udIfjE/view?usp=sharing) from here

Awaiting your feedback

[2020-03-03 10:01] giohappy commented on #145
@imranrajjad to have consistency between auth web services the groups/roles parsed from the webservice body response should be transformed into the form ROLE_<ROLENAME>, where ROLENAME is the capitalized role parsed from the response.

E.g.

my_user_role1 -> ROLE_MY_USER_ROLE1
another_custom_user_role -> ROLE_ANOTHER_CUSTOM_USER_ROLE
External_Role_X -> ROLE_EXTERNAL_ROLE_X

This is what both AuthK

[2020-03-03 11:28] giohappy commented on #145
@imranrajjad as agreed in the call I share with you an example response from my webservice and the regex I set to parse the roles.
It seems to be correct but the Basic Auth Web Service doesn't seem to assing the right authoritites to the user (always Forbidden response).

Regex:
`^.*?"groups"\s*:\s*\["([^"]+)"\].*$`

Response example:
`{"username":"giovanni.allegri@geo-solutions.it","groups":["hub

[2020-03-04 08:46] aaime opened #159 "Backport notification plugin WFS-T fix"
See https://osgeo-org.atlassian.net/browse/GEOS-9238
Landed on master only

[2020-03-04 09:53] simboss commented on #159
@nmco @aaime let's see who can we assign this.

This is not a super priority but since it is a fix I would do it as soon as possible as this fix has been done like ages ago.

[2020-03-04 10:01] aaime commented on #159
@nmco doing the backport probably best check which tests fail before the backport, and see that there are no new failures with the change (the module unfortunately does not build, it's known).

[2020-03-04 10:09] simboss commented on #159
@nmco @aaime I would then go beyond the simple backport and make an investigation for fixing the module as is.

[2020-03-06 06:43] imranrajjad commented on #145
@giohappy as discussed, I was unable to re-produce the issue after spending sometime after configuring the WAR file with similar security configurations.

[2020-03-06 09:23] giohappy commented on #145
I'm going to schedule a troubleshotting session with you

[2020-03-06 12:53] giohappy opened #160 "Trying to restore the layers, the default style is not set correctly"
This issue seems to be happening on 2.16 train only.
Try to do a backup on a zip file of the catalog and later try to restore it.
The stores and layers are restored but on layers, the default style seems to be not correctly configured any more.

[GEOS-9530](https://osgeo-org.atlassian.net/browse/GEOS-9530)

[2020-03-06 13:10] simboss commented on #160
@nmco let's brainstorm about who we can throw this at.

[2020-03-06 13:44] simboss commented on #160
@giohappy what is the priority and timeline for this?

[2020-03-06 15:30] giohappy commented on #160
Ideally I would like to have it fixed to migrate ADBPO to GeoNode 3 +
Geoserver 2.16.x

On Fri, Mar 6, 2020 at 2:44 PM Simone Giannecchini <notifications@github.com>
wrote:

[2020-03-06 16:49] nmco commented on #159
I will ask @taba90 (Marco) help on this, I will discuss with him Monday about this.

[2020-03-06 22:07] nmco commented on #145
Me and @imranrajjad performed a debug session with sharing screen using the provided data directory. Long story short, turns out that  the tests were performed using WMS service, but a service rule restraining the WMS operations to administrators only was configured:
[code]
This was the cause for the ``403 Forbidden``, we performed a few (quick) tests playing a bit whit the data rules and security

[2020-03-09 11:04] nmco opened #161 "WPS gs:DownloadMap process ignores legend decorator"
JIRA ticket:
https://osgeo-org.atlassian.net/browse/GEOS-9531

This is for:
[code]

[2020-03-09 11:04] nmco commented on #161
@Gnafu is the reporter, @taba90 as usual initial investigation, the plan and estimate before moving on whit the work.

[2020-03-09 11:05] #151 closed

[2020-03-10 16:10] nmco commented on #145
@imranrajjad were are we with the GSIP proposal for this?

[2020-03-11 13:32] nmco opened #162 "GeoServer security system caching mechanism"
Just be clear, this questions are not about HTTP sessions, but rather about the internal cache the authorization system uses for different things, like the roles list when querying an external service? authentication when performed against an external service?

Questions:
- What is actually this cache used for? Sounds like an abstract concept used in every interaction whit external services.
- Wha

[2020-03-11 13:36] nmco commented on #145
Summarizing the results of my tests and discussion with @giohappy and @imranrajjad :
1) The system fails to handle the situation where multiple roles are provided, 403 will be returned even if the expected role is there (the order doesn't matter), this is the cause of the error @giohappy  is experiencing, for example:
[code]
2) @imranrajjad did ha da look at this feedback from @giohappy https://gi

[2020-03-11 14:11] giohappy commented on #162
Of course a caching system is required, otherwise each request would hit the authentication provider and the underlying DB or service, but I feel the same @nmco  that we need some more informations about it and, possibly, more control over it even for testing purposes.

[2020-03-11 17:05] simboss opened #163 "Restore plugin is not able to correctly restore styles anymore"
See related GeoServer issue [here](https://osgeo-org.atlassian.net/browse/GEOS-9537).

[2020-03-11 19:20] simboss commented on #162
@giohappy @nmco it is not clear what this entails?

Do we have to do an investigation? Development? What is the estimate?

[2020-03-11 21:20] nmco commented on #162
This is a non prioritary investigation, should not take more than 1 hour.

[2020-03-12 06:26] imranrajjad commented on #145
@giohappy
can you please check your regex expression. I have used this website to work the regex expression (https://www.freeformatter.com/java-regex-tester.html#ad-output)

Using the regex expression : `^.*?"groups"\s*:\s*\["([^"]+)"\].*$`

When evaluating the web response with group names as array elements `{"username":"imran.rajjad@geo-solutions.it","groups":["free","hub"]}`, nothing is extract

[2020-03-12 07:46] imranrajjad commented on #162
@nmco  @giohappy

Below please find the answers

- The cache is used to minimize authentication calls, the key of this cache is user:hashed_pass (e,g imran:a4523fd1f8cd77da1ae72e0d4cce9025). This key is generated from the Authorization header of HTTP request. The cache holds reference to Authentication tokens which also includes the authorities for a user if authenticated.
- The cache is instantia

[2020-03-12 09:29] giohappy commented on #145
Ok,  reviewing it my case is not the same as the one reported by @nmco because my service returns a single string:

`{"username":"giovanni.allegri@geo-solutions.it","groups":["free,hub"]}`

but still it doesn't work for me.

[2020-03-12 10:17] aaime opened #164 "Investigate cache truncation on GeoServer configuration changes"
Right now the cache gets dropped any time a layer or a style is "modified".
We need to investigate if the the truncation is smart enough to filter out changes that are not affecting the cached data, including "open and save" actions that change nothing.

[2020-03-12 10:21] aaime opened #165 "Add QA machinery to JAI-EXT"
See: https://docs.geotools.org/latest/developer/conventions/code/qa.html

For formatting it's a one time activity, easy to do.
To enable the other checks we first need to fix all existing failures.

[2020-03-12 10:22] aaime opened #166 "Add QA machinery to ImageIO-ext"
See: https://docs.geotools.org/latest/developer/conventions/code/qa.html

For formatting it's a one time activity, easy to do.
To enable the other checks we first need to fix all existing failures.

[2020-03-12 10:26] giohappy commented on #162
thanks @imranrajjad for the clarifications.

[2020-03-12 10:44] giohappy opened #167 "Add support in AuthKey Module to pass the Api Key token inside an Authorization Header"
The request is to add the option, inside the [AuthKey Module](https://docs.geoserver.org/stable/en/user/extensions/authkey/index.html), to send the "api key / session token" using a custom header, as an alternative to the (current) URL parameter.

The main reason is to hide the token from logs and the OnlineResource URI returned inside GetCapabilites response.

I suggest to adopt the same approach

[2020-03-12 14:53] aaime opened #168 "Avoid un-necessary file changes to make data dir more git friendly"
Right now several file gets modified even if the contents are not actually changes, including:

- layers (and possibly other elements) get a new "date modified" value even if nothing has changed
- security/data.properties is updated every time a layer is saved, even if no rename has been done on the layer (I suspect it's done to keep the layer names in rules in synch with the config)
- gwc/geowebc

[2020-03-13 09:32] nmco commented on #160
@giohappy I guess this is for:
[code]

That say, looks like both this issues are strongly related:
* https://osgeo-org.atlassian.net/browse/GEOS-9530
* https://osgeo-org.atlassian.net/browse/GEOS-9537

There is a PR for ``GEOS-9537``, [that probably fixes this one too](https://github.com/geoserver/geoserver/pull/4123), can you @giohappy double check with @afabiani if that's indeed the case?

[2020-03-13 10:40] giohappy commented on #160
@nmco yes, they're related. The PR should solve both of them.
I've asked @afabiani to link the PR to GEOS-9530 too

[2020-03-13 11:04] simboss commented on #160
@nmco @giohappy check with @afabiani if he is already working on this or if this is similar to what he is already working on .

[2020-03-13 11:23] giohappy commented on #160
@simboss see my comment above.

[2020-03-13 11:44] nmco commented on #161
Let's keep the discussion on https://github.com/geosolutions-it/eumetsat-EOWS/issues/293.

[2020-03-13 11:44] #161 closed

[2020-03-16 12:06] simboss commented on #160
@giohappy I am confused, can we close this one or not.

[2020-03-16 16:05] giohappy commented on #160
We're going to test the fix within the GN b/r procedure. So I think we can close this. In case of any issue reported during tests a new one will be created.

[2020-03-16 16:05] #160 closed

[2020-03-17 23:35] nmco commented on #159
What's the client \ project for this @aaime ?

[2020-03-17 23:38] nmco commented on #167
I guess this is in the context of:
[code]

@taba90 as usual let's prepare  plan and estimate, and then wait for the green light before moving on whit the implementation.

[2020-03-18 07:06] aaime commented on #159
I think the client is @simboss  :-p

[2020-03-18 09:10] simboss commented on #167
I just want to see the estimate on this.

If it takes more than 2 hours let me know ufront.

[2020-03-19 15:02] giohappy commented on #145
@imranrajjad it still doesn't work for me, even with:

- the regex you proposed me to test on skype
- single group returned for test user

please can you share your WAR with the configurations ready to test?

[2020-03-19 16:07] nmco commented on #145
@giohappy and @imranrajjad I re-based the development branch with master:
https://github.com/geosolutions-it/geoserver/tree/issue_145_auth

I built I clean WAR, and used a clean GeoServer release data directory to setup everything from scratch, and it seems to work.

You can find the GeoServer WAR, data directory and Flask HTTP static server I used here:
https://www.dropbox.com/work/Backups/MAPSTA

[2020-03-23 09:34] nmco commented on #158
@taba90 (answering here so everyone can follow), so:
- Why do we need GSIP-186? Because it looks like the module was initially developed by [Jeffrey Smith Pacific Disaster Center](https://github.com/jsmithmap), GSIP-186 allows us to contribute it to GeoServer as community module but we need to [respect all the conditions](https://github.com/geoserver/geoserver/wiki/GSIP-186#proposal).
- Although c

[2020-03-23 09:38] nmco commented on #158
The time spend on this is to log as internal GeoServer time.

[2020-03-23 09:39] taba90 commented on #167
It's needed a new boolean value in the [WebServiceAuthenticationKeyMapper ](https://github.com/geoserver/geoserver/blob/b76bba7178d3505cd45e318e659c3b32faee4b5e/src/extension/authkey/src/main/java/org/geoserver/security/WebServiceAuthenticationKeyMapper.java#L216)class to check how to send the auth key. The tricky part seems to be the UI cause the configuration of the webservicekeymapper is handle

[2020-03-23 12:08] taba90 commented on #158
Here the pull request https://github.com/geoserver/geoserver/pull/4137. History from geosolutions repo has been preserver

[2020-03-23 15:07] simboss commented on #158
hi @taba90 abd @nmco ideally this should also be backported to 2.16 and 2.17 (not sure the status there).

Talk to @aaime about feasibility...

[2020-03-24 12:58] tdipisa opened #169 "Geofence-server-plugin dependencies"
The issue is descibed in the JIRA:
https://osgeo-org.atlassian.net/browse/GEOS-9548

[2020-03-25 09:09] taba90 commented on #159
Test are failing also on master. It is a class path issue:qpid dependecy used for test need a guava library with a different version from the one provided. After adding a different guava dependecy with the proper version and test scope test works bot on master, 2.17 and 2.16 (backported). I'm opening an issue on JIRA

[2020-03-25 15:48] simboss commented on #159
keep us posted @taba90

When you start working on something, please assign it to you.

[2020-03-25 16:08] taba90 commented on #159
Pull request https://github.com/geoserver/geoserver/pull/4143

[2020-03-30 12:13] simboss opened #170 "WMS remote SLD fetching lacks a timeout, can block the GetMap request indefinitely"
This is captured in [this issue](https://osgeo-org.atlassian.net/browse/GEOS-9555).

[2020-03-30 16:17] simboss commented on #158
hello @taba90 ?

My comment has been sitting with no response for 1W now...

[2020-03-30 20:40] nmco commented on #158
I don't see any blocker in back-porting this community module to 2.17.x and 2.16.x, its a community module and this is a module that comes from 2.16.x., @aaime any objection?

That say @taba90 there is a [review](https://github.com/geoserver/geoserver/pull/4137) and mail from Jody that has been siting around for one week, so lets follow up on that review NOW. Looks like applying Jody requested cha

[2020-03-31 12:37] taba90 commented on #158
I've applied Jody's feedback, but I got difficulties with one feedback that is use the resource provided by jody in the documetation example. I've replied it and waiting for his feedback. I've also manually tested it from the geoserver interface provided by the module when build with geoserver with gsr profile.

[2020-04-01 08:04] simboss commented on #159
what is the status on this one @taba90 ?

[2020-04-01 08:37] taba90 commented on #159
above pull request is waiting for the end of review, once merged I can backport that fix plus https://osgeo-org.atlassian.net/browse/GEOS-9238

[2020-04-03 15:06] simboss opened #171 "Implement i18n compatibility for GeoServer"
@simboss commented on [Thu Mar 26 2020](https://github.com/geosolutions-it/aaime/issues/84)

Recently we have been discussing with Provincia di Bolzano about doing a full implementation of the i18n capability as per [this](http://osgeo-org.1560.x6.nabble.com/Full-i18n-compatibility-td5430240.html) email exchange also.

We need to put together an estimate.

[2020-04-03 15:08] aaime opened #173 "Recover JP2K improvements"
See : https://github.com/geotools/geotools/pull/1464
There was no CLA, so we have to pick the good ideas and rewrite it from scratch.

[2020-04-03 15:09] aaime opened #174 "Make mosaic initialization easier to handle"
Configuring a mosaic can be a pain because of two reasons:
* With many configurations available, there are many ways to fail, figuring out the actual issue is hard because of https://github.com/geosolutions-it/aaime/issues/54
* Once failed, the mosaic will leave the disk and database in a dirty state, and the next attempt at configuring it will fail because of the dirty state (instead of whatever

[2020-04-03 15:10] aaime opened #175 "Update OGC WFS3 page"
https://github.com/opengeospatial/WFS_FES/blob/master/implementations.md

Add examples, up to date functionality and the like.
Links to maps.geo-solutions.it

[2020-04-03 15:10] tdipisa opened #176 "REST APIs refactor for Integrated GF"
In relation to the issue:

https://github.com/geosolutions-it/npa-cgg/issues/198

we have to prepare a formal proposal to uniform the REST APIs of the GF plugin in GS using only one marshalling technology (XStream the one currently used by GS).

[2020-04-03 15:10] aaime opened #177 "Add time filter support for WFS"
Functionality is similar to WMS "time" parameter, acting as a parallel to it (and using the time configuration of the layer).

[2020-04-03 15:11] aaime opened #178 "Setup up code coverage tool in GT/GWC/GS"
Setup coveralls or codeconv on:

* [ ] GeoTools
* [ ] GeoServer
* [ ] GeoWebCache

[2020-04-03 15:11] aaime opened #179 "Reinstate PR backport bot"
The QGIS project managed to re-instate the backport bot somehow, seems it's a forked version of the original one that requires a more complex setup.

[2020-04-03 15:12] aaime opened #180 "Verify GeoNode security integration performance"
After finding that openid-connect seems to be slowing down simple requests in a visible way, we'd have to check how much slowdown is there for GeoNod

[2020-04-03 15:12] simboss opened #181 "Ability to enable direct integration from config"
Right now in order to allow WMS clients to interact with direct integration we ask them to explicitly add the TILED=TRUE element.

This gives the entire control of direct integration to clients which is ok but we cannot ask everybody to change their clients.

I would do what follows:
* global config to turn on tiling caching for WMS requests automatically from GeoServer config (default to false)
*

[2020-04-03 15:12] simboss opened #182 "Introduce per group rate control in contro flow"
I would want the ability to set a per group rate control that would apply by default to all users belonging to that group.

When there a specific setting that override the global one so that we can either have some users providing better throughput or worse throughput than normal users.

I would need an estimate first and a discussion.

[2020-04-03 15:12] simboss opened #183 "Introduce global rate control in control flow"
I would want the ability to set a global rate control that would apply by default to all users and ip for which there is no specific setting.

When there a specific setting that override the global one so that we can either have some users/IPs providing better throughput or worse throughput than normal users.

I would need an estimate first and a discussion.

[2020-04-03 15:12] simboss opened #184 "Introduce ability to distinguish when direct integration kicks in in control flow"

[2020-04-03 15:13] aaime opened #185 "Improve error reporting in raster data setup"
Setting up a raster dataset (or any kind) in GeoServer, in the case that is does not configure properly at the first shot, can be pretty frustrating.
There is no indication of why it failed, this is because:

- The raster API returns null instead of an exception, making it hard to find where and why it failed (especially annoying with image mosaics, that have lots of configurations that could be t

[2020-04-03 15:39] simboss commented on #170
@aaime we need an estimate as well as a plan.

We might throw this to @taba90

[2020-04-06 13:25] bieganowski opened #186 "Bug: Backup fails for unknown reason in GS 2.16.2"
### Issue description

Geoserver's restore procedure sometimes ends in failure for no apparent reason. Log file attached for more info: [geoserver.log](https://github.com/geosolutions-it/geoserver/files/4438602/geoserver.log)
Issue was never present when the backup was created with no layers present in the Geoserver. With a layer loaded, issue occurred every time on the first backup execution afte

[2020-04-06 14:27] afabiani commented on #186
I guess the title should be "**Backup** fails for unknown reason in GS 2.16.2".

[2020-04-06 15:15] giohappy commented on #186
@afabiani and @bieganowski why "Backup" ? Isn't it an issue with restore?!!

[2020-04-06 15:21] taba90 commented on #170
According to the JIra ticket the request timeout will be add using the Builder provided by apache library in [GetMapKvpRequestReader](https://github.com/geoserver/geoserver/blob/b76bba7178d3505cd45e318e659c3b32faee4b5e/src/wms/src/main/java/org/geoserver/wms/map/GetMapKvpRequestReader.java#L130).
If we need to make this configurable, a new field in the WMS Service configuration page would the be n

[2020-04-06 15:36] simboss commented on #170
These values should **always** be configurable.

Let's hear the others here but I like the plan.

[2020-04-07 06:33] bieganowski commented on #186
No, the issue occurs when executing backup

[2020-04-07 07:13] taba90 commented on #159
class path issue fix has been merged on master. Here the backport for 2.17.x https://github.com/geoserver/geoserver/pull/4166
and the backport for 2.16.x https://github.com/geoserver/geoserver/pull/4167
according to the issue this last one comprise also https://osgeo-org.atlassian.net/browse/GEOS-9238

[2020-04-07 08:58] imranrajjad commented on #145
@all

The GSIP is available for review at : https://github.com/geoserver/geoserver/wiki/GSIP-190---Web-Service-Authentication

[2020-04-07 09:04] aaime commented on #145
Seems a new authentication plugin doing its own (unusual, at least has not been required for years) thing... should be a community module, not a change to core. So no need for a GSIP, just a mail to ask for the community module slot?

[2020-04-07 09:16] giohappy commented on #145
@nmco I was just setting up the environment to test it again :)
I'll let you know...

[2020-04-07 11:03] giohappy commented on #186
@afabiani clearly the fix implemented in https://github.com/GeoNode/geonode/pull/5974 is only a workaround. We need to investigate what is the root issue that makes

1. first backup call fails sometimes
2. if / why it only happens when Geoserver runs on Docker

[2020-04-07 14:19] giohappy commented on #145
@imranrajjad and @nmco I've spot the issue with my service. By default its response wasn't JSON formatted. My fault.

@imranrajjad please proceed with the transformation of role names to ROLE_capital(role), following the pattern assumed by AuthKey.

[2020-04-07 16:21] giohappy opened #187 "Investigation for a generic Geoserver REST ResourceAccessManager"
https://docs.google.com/document/d/1krg_BC9bqpx4gm3qCAJDBg0-WWGOORV1zjoqdPNsWZk

[2020-04-07 21:43] afabiani commented on #186
- JIRA [here](https://osgeo-org.atlassian.net/browse/GEOS-9567)
 - PR [here](https://github.com/geoserver/geoserver/pull/4169)

[2020-04-07 21:55] giohappy commented on #186
just for curiosity, why did the backup succeed on second try @afabiani?

[2020-04-07 22:07] afabiani commented on #186
If you have protected resources it fails every time, if you have public resources (in our case secured by GeoFenceAccessManager) the behavior depends basically by the state of the AccessManager and cache.

It is possible to easily reproduce the issue by removing the visibility to a resource to anonymous users.

Not sure which are steps and tests Michal has done. In my setup I never experencied thi

[2020-04-09 07:31] taba90 commented on #159
backport pull requests got merged

[2020-04-09 08:15] simboss commented on #159
thx @taba90 closing this one

[2020-04-09 08:15] #159 closed

[2020-04-09 12:32] giohappy commented on #145
@imranrajjad as reported in our chats tests went fine, so from my side nothing to add. You can proceed with the packaging of the community module.

[2020-04-10 13:32] nmco commented on #170
IMHO a dedicated setting for the timeout shoudl be created and configurable on the ``WMS`` administration page.

[2020-04-10 13:33] nmco commented on #170
@taba90 is not clear if your estimate of 1 day already vouches for the UI or not, can you clarify? Then elt's wait on @simboss green light before moving on.

[2020-04-10 15:58] taba90 commented on #170
@nmco my fault I didn't update the estimate on this, it is 1,5

[2020-04-15 09:54] simboss opened #188 "Allow changing store type from the store configuration page"
JIRA Issue [here](https://osgeo-org.atlassian.net/browse/GEOS-9574).

[2020-04-15 10:17] nmco commented on #158
Pull request merged:

[2020-04-15 14:08] aaime commented on #171
Estimate available here: https://docs.google.com/spreadsheets/d/1tKu4oMUpk6eFSoTDvTcJ1rlAucU8HjmEHbUvRCKi0xw/edit#gid=376642658

[2020-04-16 07:07] taba90 commented on #158
Jody pointed to a problem in the devel-list with gsr documentation: gsr is not showing up in the community module index.html on geoserver site. However build documentation on updated master in my local environment did not lead to any problem
![Cattura](https://user-images.githubusercontent.com/46672505/79425001-5635bf00-7fc1-11ea-8ccc-d821cd0c3ee3.PNG)
Could be this due the fact that community ind

[2020-04-16 07:52] aaime commented on #158
@taba90 that seems to be the case. Please point Jody at https://github.com/geoserver/geoserver/blob/master/doc/en/user/source/community/index.rst to show it's likely a build/doc server issue.

[2020-04-16 07:52] aaime commented on #158
Btw, I see it now in the docs: https://docs.geoserver.org/latest/en/user/community/index.html#community

[2020-04-16 08:00] taba90 commented on #158
thx @aaime, answering jody.

[2020-04-17 14:55] #150 closed

[2020-04-17 21:04] jsmithmap commented on #158
@aaime Do you think it will be possible to merge the [pull request I submitted](https://github.com/geosolutions-it/gsr/pull/2) into the next release?  There are 2 fairly minor changes I needed to make it work with my client's existing data viewer.

[2020-04-20 18:14] nmco commented on #158
@taba90 where are we this:

?

[2020-04-20 18:18] nmco commented on #158
Hi @jsmithmap (I'm not aware of the full context of this project so what I'm about to suggests may not apply) but I would suggest that you perform your PR directly against [GeoServer GSR community module](https://github.com/geoserver/geoserver/tree/master/src/community/gsr ) :smile:.

@aaime since GSR has been contributed to GeoServer with the full history I guess we can deprecate https://github.c

[2020-04-20 18:45] nmco commented on #167
Thank you @taba90, the estimate sounds reasonable to me. Let's know if we can proceed @simboss.

[2020-04-21 08:35] taba90 commented on #158
[2.17.x backport](https://github.com/geoserver/geoserver/pull/4194)

[2020-04-21 10:03] chpicone opened #189 "Assist in geotiff production and optimization"

[2020-04-23 09:48] nmco opened #190 "Remote GeoServer ressource manager implementation"
**The available budget for this task is 8 days**, the project and code for the time-sheet:
[code]

The idea here is to allow an external system, in this case SERAPIDE, to perform [GeoServer resources access management](https://github.com/geoserver/geoserver/blob/master/src/main/src/main/java/org/geoserver/security/ResourceAccessManager.java). The usual way of handling this situations its too imple

[2020-04-23 09:57] nmco commented on #190
@aaime your opinion on this topic is very welcome :smile:. @taba90 can you start brainstorming about a technical plan and respective estimates? For the UI parts we will needs mock ups :framed_picture:, in practical terms @taba90:

- Initial brainstorm and questions.
- Prepare a technical plan (described here on this issue) along estimates and mock-ups for the UI.
- Ask for @aaime and @giohappy rev

[2020-04-24 09:23] jsmithmap commented on #158
@taba90 - Since it looks like the GSR module had some pending changes to be merged based on the link you provided, I went ahead and submitted a Pull request to the branch "backport-9564-to-2.17.x" in your fork with my changes.  If I should instead create the Pull Request against the main GeoServer repo just let me know.  Thanks everyone for the help.

[2020-04-24 10:26] taba90 commented on #190
1. Configuration: a Configuration class with base url, an optional authentication key, a request timeout, and cache parameters (expire after and size).  Then wicket classes to map the configuration to UI, with two sections one for the the rest service and one for the cache. 2 days
2. A class that will query the cache or the remote system for the data access rule (throwing a RunTimeException if it

[2020-04-24 12:30] giohappy commented on #190
@taba90 you got the point on everything. Just some notes:

1. the AccessMode was an error by me to propose its inclusion inside the service response. I suppose it should be managed Geoserver side, at the RAM level (as it is for the Data security configuration)

2. I think the UI will provide the option to opt (through checkbox?) either for directly requesting rules for the layer, layergroup or bas

[2020-04-24 15:28] giohappy commented on #190
@taba90 @nmco a clarification. In case the "layers/" authorization endpoint returns only a subset of available layers, we should assume a DENY for all the layers outside that list. Do you agree?

[2020-04-26 17:52] simboss commented on #167
@taba90 @nmco let's move forward with this as soon as we can

[2020-04-27 07:29] taba90 commented on #190
One thing that I've not clear: since that the ResourceAccessManager is invoked to check layer by layer, then request for multiple layer eg. the /layers, or /workspace/{workspace}/layers would have the aim to be executed as scheduled batch processes to populate the cache. If I'm right and given this, then /workspace/{workspace}/layers would loise utility since we would already have the /layers requ

[2020-04-27 08:56] giohappy commented on #190
@taba90 actually the usage of the endpoints had to be defined. My proposal was generic so to make REM able to take advantage of the various options.

In my initial idea I supposed Geoserver was able to request rules in batch to a RAM in case, for example, of a GetCapabilities request. But from what you say I guess layers are always checked one by one.
If this is not the case I agree with you that

[2020-04-27 15:43] taba90 commented on #190
Sorry @giohappy  I've not been clear in the above comment I'm rephrasing. Since looks like layer check is made one by one and since in the braninstorm doc there are those endpoints aimed at requesting multiple layers at once in a batch process, I was trying to understand if that was referring to the possibility to have a batch process scheduled to start, lets say every night, to request layers' da

[2020-04-27 15:48] giohappy commented on #190
No @taba90 , nothing like that was envisioned. The only purpose of it, in my mind, was to leverage a batch request in case Geoserver was able to do it. The example of a GetCapabilities was done on purpose. I thought that in this case Geoserver was able to ask the access rules in a single shot to the RAM. In that case having a "batch" endpoint could have been effective. If however will always ask f

[2020-04-30 16:27] taba90 commented on #158
thanks for your pull request @jsmithmap . I've made two from that one, against the master branch on Geoserver:
https://github.com/geoserver/geoserver/pull/4222
https://github.com/geoserver/geoserver/pull/4223
after they have been merged on master, I'll backport them to 2.17.x

[2020-05-06 14:58] aaime opened #191 "GeoFence build issues on Windows"
The GeoFence tests fail solid on Windows, breaking all PR checks:

![image](https://user-images.githubusercontent.com/325433/81192565-b31e0700-8fba-11ea-9ebd-95ba1753f434.png)

(the windows build was already failing some before, but it was random, now it's happening every time).

[2020-05-06 14:59] aaime commented on #191
Failure is:

[code]

By the looks of it, the GeoFence database is not properly closed when the test ends.

[2020-05-07 00:03] jsmithmap commented on #158
@taba90 Thank you for helping with this!

[2020-05-08 16:13] simboss commented on #190
@taba90 what is your estimate for this one?
Can you update the estimate control for this issue?

[2020-05-08 16:13] simboss commented on #190
Meanwhile I am turning this into an epic so that before we start working we open issues for the work.

[2020-05-08 16:16] #158 closed

[2020-05-11 08:55] taba90 commented on #190
1. Configuration: a Configuration class with base url, an optional authentication key, a request timeout, and cache parameters (expire after and size). Then wicket classes to map the configuration to UI, with two sections one for the the rest service and one for the cache. 2 days
2. A class that will query the cache or the remote system for the data access rule (throwing a RunTimeException if it i

[2020-05-11 16:45] etj commented on #191
https://osgeo-org.atlassian.net/browse/GEOS-9613

[2020-05-11 17:15] aaime commented on #172
Multiple pbf file support here: https://github.com/geosolutions-it/osm-styles/pull/14

[2020-05-12 13:13] nmco commented on #190
Thx for the update @taba90, **this one its on hold for the moment**, the client its re-organizing his priorities.

[2020-05-13 08:23] simboss opened #192 "Release GeoServer 2.16.3"
We need to release 2.16.3. This has been lagging around for a little and we need to release during week 21.
@aaime will help, I don't think @Gnafu can help ftm.

[2020-05-22 06:55] randomorder commented on #192
http://geoserver.org/release/maintain/

[2020-05-22 06:55] #192 closed

[2020-05-26 11:12] simboss opened #193 "Complete GeoServer Configuration Parametrization"
Apparently the GeoServer Configuration Parametrization does not yet cover certain portions of the configurations (like Security) thus making it difficult to do complete back-ups and restore of the configuration itself in certain environments.

I am asking  @giohappy to report his experience on this matter so to drive the scoping work and the successive estimates from the GeoServer team.
Obviousl t

[2020-05-28 08:32] giohappy commented on #193
@simboss my experience is mainly restricted to the geonode-oauth2 module and authkey modules, but afaik all the security modules are affected by the lack of ability to parametrize their configurations.

- geonode-oauth2
  - Authentication filter using a GeoNode OAuth2
- AuthKey
  - Authentication filter using a key
  - AuthKEY REST Role Service (which is also used by geonode setup)
  - AuthKEY Web

[2020-05-28 09:35] simboss commented on #193
Anything about GWC. I am pretty sure GWC does not work well with parameterization as well.

[2020-05-28 10:31] giohappy commented on #193
I guess GWC would also benefit from having parametrized configs.
I suppose you refer to Caching defaults and Disk Quota mainly.

[2020-06-30 12:30] taba90 opened #194 "HttpPorxy issue when performing an object search"
When performing an object search from the frontend, the post getFeatureRequest to Geoserver,  executed by decsiraweb via Proxy will fail, while will have success if performed directly.
Looking to the log when such requests are performed the following log shows up: `Content-type application/gml+xml is not among the ones allowed for this proxy`

[2020-07-06 08:27] giohappy commented on #145
@imranrajjad @nmco where we are with this? I can't find if it has been merged, backported, etc.

[2020-07-06 15:04] nmco commented on #145
If my memory serves me well @giohappy, the client didn't need this any-more hence the priority become very low, this was not merged yet, right @imranrajjad ?

[2020-07-06 15:06] giohappy commented on #145
does it take much work to merge it? I don't want to leave this pending, since we'll need it soon.

[2020-07-06 15:07] imranrajjad commented on #145
@aaime directed to make this available as a community module instead of making it part of core. However, the PR for community was not submitted as the unit tests still need to be migrated to community module.

[2020-07-06 15:32] giohappy commented on #145
how mich work is left to complete this?

[2020-07-09 12:58] #172 closed

[2020-07-10 09:03] imranrajjad commented on #145
@giohappy apologies, I somehow missed this,

At least one day worth of work is left which includes:

- Notifying the community about the new community module
- Migration of unit tests
- Validating and testing community module assembly

We also need to follow the community guidelines on  [community-modules guidelines](https://docs.geoserver.org/latest/en/developer/policies/community-modules.html#pr

[2020-07-10 09:14] giohappy commented on #145
@simboss even if we have reduced the dev time for MapStand I would complete this part, otherwise it gets lost and we've wated resources. What do you think?

[2020-07-10 09:43] simboss commented on #145
@giohappy I agree

@nmco can you make sure this work gets completed?
I would need to do things like this was geosevrer core and not a community module:

- complete documentation
- code coverage as high as possible
- add it to the build

[2020-07-10 10:48] nmco commented on #145
Understood @simboss, @imranrajjad as a few urgent tasks to to finish for EMSA, end of next week we should be able to submit a PR by the end of next week.

@imranrajjad, things that should included:
- A community module, that's included in the community build and on the GeoServer WAR when the associated profile is used.
- A ZIP should be generated for the community module during the build, like for

[2020-07-10 10:51] imranrajjad commented on #145
@nmco understood, will do.

[2020-07-10 13:39] nmco opened #195 "Small bug to fix for the JSON-LD templating"
This is an epic that will act as an umbrella for all the small bug we find while testing the JSON-LD template with the aquifers use case.

[2020-07-10 13:40] #195 closed

[2020-07-15 09:48] giohappy opened #196 "[C183 - AlmavivA] Implement Standard Deviation classification for SLD Service"
The Standard Deviation classification method finds the mean value of the observations then places class breaks above and below the mean at intervals of either .25, .5, or 1 standard deviation until all the data values are contained within the classes. This classification method shows how much the feature's attribute value varies from the mean. Using a diverging color scheme to illustrate these val

[2020-07-15 14:39] taba90 commented on #196
@simboss @giohappy

1. for vector data we have already a [StandardDeviationFunction ](https://github.com/geotools/geotools/blob/master/modules/library/main/src/main/java/org/geotools/filter/function/StandardDeviationFunction.java) to classify vector data. What is missed is to call it form the RulesBuilder in the SLDService module.
If percentages need to be optionally calculated also for this class

[2020-07-15 15:49] simboss opened #197 "Implement StandardDeviationFunction to classify vector data"
This is a placeholder fo rimplementing STD classification in SLD Service for Vector data.

We need it on 2.17!

[2020-07-15 15:49] simboss opened #198 "StandardDeviationFunction to classify raster data"

[2020-07-15 15:52] simboss commented on #196
@nmco I asked @taba90 to work in this as a medium priority.

Vector right away, raster as we have time.

[2020-07-15 15:54] simboss commented on #196
/remind me on Jul 22nd 2020

[2020-07-15 15:58] taba90 commented on #197
@simboss @giohappy Here the plan:

We have already a StandardDeviationFunction to classify vector data. What is missed is to call it form the RulesBuilder in the SLDService module.
For percentages the StandardDeviationFunction doesn't have any reference to class members numbers so it would be needed to make additional queries to the data to get them. Estimated time for this is 6 hours

[2020-07-15 16:00] taba90 commented on #198
standardDeviation classification can be computed directly in the sldService module. Mean and standardDeviation are already computed in some part of the code in the RasterSymbolizerBuilder is a matter of pick up them and compute the breaks. To compute percentages an histogram, built once interval have been computed, would then be needed (as for equal interval classification). Estimated time is 10 h

[2020-07-15 16:28] simboss commented on #198
Ok, move ahead with this one as well once you have time...

[2020-07-17 13:13] giohappy commented on #197
@taba90 I'm not able to make comments on the implementation details, but the estimate is fine for me, so please proceed.

[2020-07-20 07:23] taba90 commented on #197
working on this

[2020-07-20 08:45] simboss commented on #197
@taba90 keep us posted

[2020-07-20 10:28] taba90 commented on #197
@simboss @giohappy  I made geotools and geoserver pull requests with the necessary changes. All details are availbale on the Jira ticket https://osgeo-org.atlassian.net/browse/GEOS-9703

[2020-07-20 13:12] giohappy commented on #197
@simboss AFAICS the next release that can have the new functionality merged is 2.17.3, which will happen the 2020-09-18.
We'll need to wait the release, upgrade GeoNode to that version (the current one is 2.17.1) and finally deploy the new functionality to Almaviva.

If we confirm this roadmap I will communicate it to he client.

[2020-07-20 13:15] simboss commented on #197
if needed we can do a 2.17.2.1

[2020-07-20 13:18] giohappy commented on #197
Let's see, but I think they could wait for 2.17.3...

[2020-07-20 15:15] simboss commented on #197
Cool.

Always remember that we have the options to ad interim releases if we need it.
We have the rights and the resources to do them if needed.

[2020-07-20 16:00] giohappy commented on #197
of course we need a test env for @allyoucanmap to test it from the styler.
Where / Who can do it @simboss ?

[2020-07-20 16:18] simboss commented on #197
You need to clarify this with @allyoucanmap.

I think he can go away with a local WAR deploy, pretty much.

[2020-07-20 16:20] giohappy commented on #197
one more thing. I suggested to add a REST endpoint that will return list of available methods. This would give the client (the styler in this case) the option to enable/disable some functionalities dynamically, otherwise we need ditinct styler versions for distinc SLD Service versions.

The logic could be:
 - if the endpoint doesn't exist the styler will expose the methods available to all the SLD

[2020-07-20 16:35] simboss commented on #197
@giohappy open a ticket under the root epic and define what you need.

We will ask   @taba90 an implementation plan and an estimate.

[2020-07-20 16:49] giohappy opened #199 "Implement an endpoint which returns the SLD Styler methods"
I suggest to add a REST API endpoint that will return the list of the SLD Service implemented methods.
This will give a client the option to enable / disable functionalities on the base of the service capabilities (e.g. standar deviation classification).

please @taba90 and @allyoucanmap coordinate on the response structure

[2020-07-20 16:50] giohappy commented on #197
I've simplified the request with this issue https://github.com/geosolutions-it/geoserver/issues/199

[2020-07-22 14:45] taba90 commented on #199
@giohappy
I've produce the feature and included it in the war provided to Stefano for testing according to our conversation.

 It was a quick thing but would need some more work in order to produce a pull request because the way some points of the code have been implemented are posing some problem to a quick full implementation of the endpoint (regarding the html output format).

Let me know if I

[2020-07-24 07:43] giohappy commented on #199
@taba90 what do you mean with html output format?

[2020-07-27 12:31] tdipisa opened #200 "Support for ENV variable in freemarker templates"
It would be useful to have a support for the ENV variable in GeoServer Freemarker templates. For example in GetFeatureInfo requests, where the locale sent by the client as a query parameter in the URL could be used.

http://mydomain/geoserver/wms?service=WMS&version=1.1.1&request=GetFeatureInfo&exceptions=application/json&id=layer_name_propr__3&layers=layer_name&query_layers=layer_name&x=51&y=51&h

[2020-07-27 13:23] nmco commented on #200
Client and project:
[code]

@fernandor777 looks like this should already be supported as per [this documentation,](https://docs.geoserver.org/latest/en/user/tutorials/freemarker.html#examples) specially this example: ``${request.ENV.PROPERTY}``.

Can you double check if this is support, and if yes what's the syntax? Otherwise, please prepare a plan to implement it and estimate it.

[2020-07-27 15:29] fernandor777 commented on #200
An update about ENV variables support on GetFeatureInfo Freemarker templates:

Using the ENV definition on the URL:
[code]
The variable usage in the template should be:
[code]

Example content template definition (data/templates/content.ftl):
[code]

Example output:
![Screenshot from 2020-07-27 10-23-23](https://user-images.githubusercontent.com/3613119/88560552-e6899400-cff3-11ea-859c-e64771cb88b

[2020-07-27 15:38] nmco commented on #200
@tdipisa let's know if you need more details.

[2020-07-27 15:41] tdipisa commented on #200
@fernandor777 @nmco ok thank you. therefore it is already supported. Did I understand correctly?

[2020-07-27 15:42] nmco commented on #200
Yes, that say @fernandor777 when you have 5 minutes can you do a PR adding a more meaningful example to the documentation?

[2020-07-27 15:50] tdipisa commented on #200
@nmco @fernandor777 one more question please: is this available also on 2.16.2?

[2020-07-27 16:24] fernandor777 commented on #200
@tdipisa yes, I tested it with GeoServer 2.16.2 and it is supported.

[2020-07-27 16:32] tdipisa commented on #200
@fernandor777 ok thank you so much.

[2020-07-30 15:42] #132 closed

[2020-07-30 15:43] #131 closed

[2020-07-30 15:43] #135 closed

[2020-07-30 15:44] #130 closed

[2020-07-30 15:44] #133 closed

[2020-07-30 15:44] #134 closed

[2020-07-30 15:44] #136 closed

[2020-07-30 15:44] #137 closed

[2020-07-30 15:44] #138 closed

[2020-07-30 16:14] #139 closed

[2020-07-30 16:15] #140 closed

[2020-07-31 12:48] Gnafu commented on #141
Jobs created, now running them to validate

[2020-08-04 14:59] simboss commented on #197
@taba90 status of this?

[2020-08-05 07:51] taba90 commented on #197
@simboss  geootools pr has been merged, here the backport https://github.com/geotools/geotools/pull/3101. waiting on the geoserver one to be merged too and be backported https://github.com/geoserver/geoserver/pull/4426, I've just pinged Andrea.

[2020-08-06 08:50] taba90 commented on #197
master pr merged on geoserver too. backport to 2.17.x produced https://github.com/geoserver/geoserver/pull/4448

[2020-08-06 08:52] taba90 commented on #199
@giohappy nevermind, it was a false problem. The functionality has been merged on master, and a backport pr has been produced. Details on the jira ticket https://osgeo-org.atlassian.net/browse/GEOS-9709

[2020-08-06 10:51] simboss commented on #145
@imranrajjad @nmco where are we on this one?

[2020-08-06 11:06] imranrajjad commented on #145
@simboss unfortunately I am busy with closing some critical EMSA deliverables. This is one of my highest priorities. My apologies for the delay.

[2020-08-12 13:32] imranrajjad opened #201 "WFS 2.0.0 Parsing Error : PullParserFeatureReader : java.util.HashMap cannot be cast to org.opengis.feature.simple.SimpleFeature"
While responding/investigation to the [ticket](https://geosolutions.freshdesk.com/a/forums/topics/3000179280) , it has been observed that the user is a feature collection from WFS 2.0.0 store is failing parsing with below error.

[code]

The capabilities , describe feature type response and get feature response have been validated and are correct. PFA attached in this issue.

[Sample WFS Responses

[2020-08-13 09:37] nmco commented on #201
Reading the client feedback and your note @imranrajjad something does match up, looks like he was able to to consume form the remote server but the axis where inverted. Don't do anything else for this ticket, I will investigate what's going on.

[2020-08-13 16:39] nmco commented on #201
The remote layer is declared as this on the ẀFS 2.0 remote capabilities document:
[code]

GeoServer when reading the capabilities document will interpret it as ``EPSG:3908``:

![image](https://user-images.githubusercontent.com/1590542/90122635-7ef27900-dd55-11ea-80d3-c0a22051f3b0.png)

Since [the SRS representation](https://docs.geoserver.org/latest/en/user/services/wfs/axis_order.html) will influ

[2020-09-01 10:01] taba90 commented on #199
merged on master and on 2.17.x

[2020-09-01 10:01] taba90 commented on #197
backport merged too

[2020-09-03 13:20] allyoucanmap opened #202 "Rendering issue while using scientific notation of numbers inside SLD filters"
@aaime In some cases the numbers values inside filter of GeoCSS are translated in scientific notation when converted in SLD.

eg:
[code]

[code]

This generates some issue in the rendered map

current result:
missing India and China
![image](https://user-images.githubusercontent.com/19175505/92118152-60344f00-edf6-11ea-87c9-922565d77242.png)

expected result:
generated with an equivalent SLD style

[2020-09-03 14:00] aaime commented on #202
Weird, not sure why it's not working on the SLD side. Investigation is needed. Worst case the CSS translator can be modified to always write out the fully extended number (it would be however harder to keep the original form, as it's parsed into a java double variable).

[2020-09-03 14:22] simboss commented on #202
/remind me on Sep 10th 2020

[2020-09-07 12:39] nmco opened #203 "Minor bug in style editor legend preview"
The bug is described [here](https://groups.google.com/g/geosolutions-helsinki/c/Ibylmjz6a7c/m/obAOazJXAwAJ), as usual let's start with the initial investigation (2 hours MAX).

[2020-09-07 13:58] taba90 commented on #203
By default geoserver doesn't draw label if only one rule is available. To make it render the label two it is necessary to use the `legendOptions `vendorParameter with `forceLabels:on` (
`http://localhost:8080/geoserver/ows?service=WMS&request=GetLegendGraphic&format=image%2Fpng&width=20&height=20&layer=Johtokartta_imujatehuolto_kaivo&LEGEND_OPTIONS=forceLabels:on`).
See also https://docs.geoserver

[2020-09-08 10:41] nmco commented on #203
Thx for the feedback @taba90, I think you missed one issue (Ville reported two), you missed the one about the Nordic characters:
![image](https://user-images.githubusercontent.com/1590542/92466615-43b65f00-f1c8-11ea-922f-959d6a029ef2.png)

[2020-09-08 13:06] taba90 commented on #203
substituting the encoding in the xml prolog fro  ISO-8859-1 if the sld files to UTF-8, led to a correct labels rendering.
`<?xml version="1.0" encoding="UTF-8"?>`
I've attached the fixed sld files.

[sld.zip](https://github.com/geosolutions-it/geoserver/files/5188420/sld.zip)

[2020-09-10 20:46] nmco commented on #198
What's the status with this task?

[2020-09-10 20:52] nmco commented on #193
@simboss is this still something we want?

[2020-09-10 21:06] nmco commented on #187
Is this still relevant?

[2020-09-10 21:36] giohappy commented on #198
@nmco it's already implemented and portes to 2.17.2.
Please @taba90 can you link the commis here?

[2020-09-11 08:06] giohappy commented on #198
forget my previous comment. I thought this was the one for vectors.
Let's hear @simboss on this.

[2020-09-11 08:07] giohappy commented on #187
Not urget right now, but I'd keep it around since it will my prabably required if / when SERAPIDE project will start again.
Do you agree @simboss ?

[2020-09-11 08:12] nmco commented on #198
We need this on 2.17.x? So 2.17.3? This is a new feature, this will need to be implemented in record time and not sure ti will land on 2.17.3.

I would say go ahead as fast as you cna with this @taba90, but remember the hard deadlines we have the upcoming week:
- Monday BRGM
- Friday API4INSPIRE

[2020-09-11 08:21] giohappy commented on #198
@nmco did you read my previous comment? I thought this was for vector, not for raster. For rasters I don't have any deadline.

[2020-09-11 08:50] nmco commented on #203
Thank you @taba90 !

[2020-09-11 09:02] #203 closed

[2020-09-12 10:58] imranrajjad commented on #145
draft PR for community extension : https://github.com/geoserver/geoserver/pull/4483

[2020-09-15 19:24] simboss commented on #193
obviously

[2020-09-15 19:51] simboss commented on #198
this is something I would want to throw at jose

[2020-09-17 09:57] nmco opened #204 "LDAP disables hostname verification"
See:

https://lgtm.com/projects/g/geoserver/geoserver/snapshot/ee2246871b8da41516c7a8154c2d3ecd69b34570/files/src/security/ldap/src/main/java/org/geoserver/security/ldap/LDAPUtils.java?sort=name&dir=ASC&mode=heatmap#L46

Should probably be made configurable, seems something that would be useful in dev/test/integration environments.

Related security ticket is available [here](https://github.com/ge

[2020-09-17 10:03] nmco commented on #204
@alemarte let's proceed by:
1. Investigate the issue, and reproduce it.
1. Propose a plan and estimate to fix it, you should take into account that:
   1. Looks like the direction we want to go is that the host-name verification should be always active by default but it should be possible to deactivate it to perform some tests.
   1. Having this verification deactivated can lead to a security brea

[2020-09-17 10:05] nmco opened #205 "Upgrade of rabbitmq library to 4.8.0 or newer"
See the following:

    https://github.com/geoserver/geoserver/network/alert/src/community/notification/pom.xml/com.rabbitmq:amqp-client/open
    https://nvd.nist.gov/vuln/detail/CVE-2018-11087

Requires upgrade of rabbitmq library to 4.8.0 or newer. Used in the notification community module.

Related security issue is available [here](https://github.com/geosolutions-it/geoserver-security/issues/1

[2020-09-17 10:07] nmco commented on #205
@alemarte let's follow the usual work-flow:
1. Reproduce the issue, in this case check that library has not been upgraded already.
2. Propose an upgrade plan and estimate.
3. Wait for a green light before moving on.

[2020-09-17 10:13] nmco commented on #202
@simboss, Alessandro could work on this issue this week, do we have a green light for planning and estimate?

[2020-09-17 20:37] simboss commented on #202
yes, go ahead.

I am assuming you mean he is going to perform and investigation and provide an estimate.

[2020-09-18 09:57] alemarte commented on #204
Unfortunately I haven't been able to reproduce the issue yet. For what I've seen setting the TLS check to true automatically disable the TLS hostname verification check. My suggestion is to introduce a second checkbox once the first is enabled, which specifies whether the default hostname verification check should be disabled (default no, highlighting the associated risk with a warning).

[2020-09-18 12:24] nmco commented on #204
Meeting with 18-09-2020 minutes:
- @alemarte follow the training material guide for LDAP but it didn't work, although looks like an old version of the virtual VM was used.
- @alemarte will give it another try following [the training for LDAP](https://docs.geoserver.geo-solutions.it/edu/en/security/ldap_authentication.html) and used the [latest GeoServer training package](https://www.dropbox.com/s/

[2020-09-18 12:27] nmco commented on #205
This are the current rabbitmq dependencies in GeoServer:
[code]

Looks there is a conflict.

[2020-09-18 19:25] simboss commented on #145
@aaime can you review on mon?

[2020-09-18 19:26] simboss commented on #145
/remind me on Monday

[2020-09-21 10:20] alemarte commented on #204
@nmco
Plan:

- Introduce a second checkbox **hostnameVerification** which appears once the first checkbox "useTLS" is checked.
- The **hostnameVerification** is disabled by default.
- If the **hostnameVerification** is checked then the always true HostnameVerifier is configured into the LDAP context.
- Once the **hostnameVerification** is checked and the LDAP filter is enabled, a warning appears o

[2020-09-21 16:34] alemarte commented on #202
@aaime
During the parsing process the CssParser convert css selectors into Filters by using a common implementation.
I would use an extended FilterFactoryImpl which override the [public Literal literal(double d)](https://github.com/geotools/geotools/blob/21286b8064ec6f0566038634626463e7c494ff3d/modules/library/main/src/main/java/org/geotools/filter/FilterFactoryImpl.java#L878) method returning a w

[2020-09-21 16:55] aaime commented on #202
Did you consider handling numbers with scientific notation during the parse instead, or avoid scientific encoding in the SLD encoding?

The custom factory works, but the job of the CSS module is not to build specifically Style objects meant to be encoded in SLD... just to build valid style objects. As long as they are valid and working in memory, its job is done.

Checking the schemas for Filter 1

[2020-09-22 09:32] nmco commented on #205
Go ahead @alemarte :+1:.

[2020-09-22 09:46] nmco commented on #204
Thx for the plan @alemarte, I have a few comments:

I don't know much about LDAP, so just double checking, we can only enabled host name verification if [TLS is used](https://docs.geoserver.org/stable/en/user/security/auth/providers.html#secure-ldap-connections)?

I was expecting the opposite, by default the host name verification should be activated, since this is what offers a secure environment

[2020-09-22 09:50] alemarte commented on #204
You're right. The **hostnameVerification** checkbox should be named **disableHostnameVerification**. And the default underlying behaviour is to always check.

[2020-09-22 10:00] nmco commented on #204
Great, go ahead you have my green light :+1:.

[2020-09-22 11:09] alemarte commented on #202
@aaime @nmco

So, another possible fix is during the parsing in the [NumericConverterFactory](https://github.com/geotools/geotools/blob/21286b8064ec6f0566038634626463e7c494ff3d/modules/library/main/src/main/java/org/geotools/data/util/NumericConverterFactory.java#L182).

During the conversion of the source String (ex. "1.1034422448E9") into the feature target Class (which in our case is of type Lo

[2020-09-22 12:07] aaime commented on #202
@alemarte yep that seems to be the better way to go.

[2020-09-22 12:21] alemarte commented on #202
@nmco

estimate 2h

[2020-09-22 14:32] randomorder opened #206 "GeoServer Monitoring with Prometheus"
Check available options, what can currently be monitored what else could be monitored
- [ ] Instructing GeoServer with client libraries. This could be a plugin itself and/or an extension to existing plugins like monitor and/or a small addition to core status monitoring code
- [ ] Using JMX and JMX exporter

[2020-09-22 14:33] randomorder commented on #206
If we catch OOM related exceptions in GeoServer, could we expose that in the status monitoring page as well?

[2020-09-22 15:36] alemarte commented on #204
JIRA Ticket https://osgeo-org.atlassian.net/browse/GEOS-9742

[2020-09-24 09:21] alemarte commented on #205
[GEOS-9744](https://osgeo-org.atlassian.net/jira/software/c/projects/GEOS/issues/GEOS-9744)

[2020-09-24 09:43] nmco commented on #202
Go ahead whit the fix @alemarte.

[2020-09-24 09:45] nmco commented on #205
Can you link the pull request with the JIRA ticket @alemarte ? You cna add it as a comment.

[2020-09-24 10:12] alemarte commented on #204
@aaime @nmco
An LDAP configuration parameter has been added [tlsHostnameVerificationDisabled ](https://github.com/alemarte/geoserver/blob/f0836725b119a327d8f3a60f655ccf7dea6cf762/src/security/ldap/src/main/java/org/geoserver/security/ldap/LDAPBaseSecurityServiceConfig.java#L35).

Now if this parameter is true it must be displayed in the home page as a security warning.

Basically in the [SecurityH

[2020-09-24 12:58] alemarte commented on #202
https://osgeo-org.atlassian.net/jira/software/c/projects/GEOT/issues/GEOT-6708

[2020-09-25 09:45] alemarte commented on #202
@nmco

PR available [here](https://github.com/geoserver/geoserver/pull/4504)

[2020-09-28 14:36] aaime opened #207 "Freshen up GWC gridset defaults"
The default Gridsets in GWC are old and causing issues with clients:
* 900913 should go and leave place for 3857 and well known gridset names from the [OGC TMS spec](https://www.ogc.org/standards/tms)  (it's a gridset spec, not a Tiled Map Service)
* The TMS gridsets should all be available out of the box
* Any other gridset should have the tilematrix names (aka zoom levels) be purely numeric inst

[2020-10-01 16:17] nmco commented on #204
LDAP is an extension, hence we can't make ``[SecurityHomePageContentProvider](https://github.com/geoserver/geoserver/blob/8672a10413166c553eb7f4fcf0d2a250337561a0/src/web/security/core/src/main/java/org/geoserver/security/web/SecurityHomePageContentProvider.java#L35)`` aware of it, rephrasing we can't create a dependency between GeoServer core and an extension.

In my opinion, the best way to go h

[2020-10-01 16:33] nmco commented on #202
@alemarte please check the feedback on the PR, and if you already applied them then comment on the PR. The builds are failing, you should check what's going on, is  it an unrelated error? Then comment on the PR explaining why.

[2020-10-01 16:53] nmco commented on #204
After a quick chat with @aaime, there is two comments for you @alemarte:
- This page ``GeoServerHomePageContentProvider`` may already provide the extension point you need.
- This warning should only be displayed when the administrator is log in.

[2020-10-05 08:31] alemarte commented on #205
[PR](https://github.com/geoserver/geoserver/pull/4504)

[2020-10-05 08:35] simboss opened #208 "Set Response Cache Headers in LayerGroups"
This requirement is captured  in [this](https://osgeo-org.atlassian.net/browse/GEOS-9759) GeoServer JIra.

[2020-10-05 15:41] chpicone opened #209 "Add address range in the GUI for rule definition in GeoFence embedded"
We need to add in the GUI of GeoFence embedded the **addressRange** filter.

In the definition of a rule, to ALLOW/DENY (or LIMIT with WKT filter) specific IPs we need a textbox to make the admin able to configure an address range in CIDR notation:
![image.png](https://images.zenhubusercontent.com/5e98219c18069195a59f5217/bd6350b4-2bf7-40b7-9ba6-d615a3ab20a2)

[2020-10-06 16:18] nmco commented on #204
Work done by @alemarte is available here: https://github.com/alemarte/geoserver/tree/GEOS-9742.

[2020-10-16 16:12] simboss opened #210 "Fix GeoFence Build"
The GeoFence build has been failing for some time now.

We need to fix it asap since we have some work depending on it.
We might also need a new release soon, let's discuss plans once you get started with this.

[2020-10-16 16:14] simboss commented on #210
On a second thought.
We should avoid depending on geotools snapshots and if possible an any snaphots at all.

[2020-10-19 09:33] aaime opened #211 "Review GeoServer official docker image"
Review the proposed GeoServer Docker image: https://github.com/geoserver/docker/pull/1

It's been around for a bit already (11 days), Jody is pushing to merge it and gather feebdack from the community.

[2020-10-26 09:50] #202 closed

[2020-10-26 09:51] nmco commented on #205
Waiting on @afabiani feedback.

[2020-10-26 14:05] imranrajjad commented on #204
@nmco I am not very proficient with LDAP services, I will excuse myself from this

[2020-10-27 09:07] afabiani commented on #145
put some comments to the PR [here](https://github.com/geoserver/geoserver/pull/4483#pullrequestreview-517478569)

[2020-11-02 14:18] randomorder commented on #211
I've added my feedback to the PR

[2020-11-05 11:06] #211 closed

[2020-11-05 13:24] simboss opened #213 "Investigate keyCloak report from mailing list"
Please, check if the report in the GeoServer mailing titled "Keycloak-plugin: wrong role mapping" needs coding attention.
If so please, provide an estimate and a plan before doing any real work.

[2020-11-05 17:43] #169 closed

[2020-11-05 17:48] #191 closed

[2020-11-13 17:54] simboss commented on #186
can we close this one?

[2020-11-13 17:55] #163 closed

[2020-11-16 10:38] giohappy commented on #186
I guess so... if I remember correctly the fixes were ported back, but in any case now we're targeting 2.17.x

[2020-11-16 10:39] simboss commented on #186
@afabiani ?

[2020-11-16 10:41] afabiani commented on #186
Yes, fixed with GS 2.17.2 currently active

[2020-11-16 11:26] #186 closed

[2020-11-20 13:34] chpicone opened #214 "GeoServer cannot show PARTITIONED table in PostGIS"
If we have a (parent) partitioned table in postGIS (example TAB_A) we can see just the child tables (eg TAB_A_1, TAB_A_2, etc).

Tested on GeoServer 2.18.0.

[Here](https://osgeo-org.atlassian.net/browse/GEOT-6743) the JIRA ticket

[2020-11-23 09:56] simboss commented on #214
We need to perform an investigation for implementing.

[2020-11-24 11:01] aaime opened #215 "Need to switch all Travis PR builds to an alternative ASAP"
Travis is de-facto shutting down free services for open source projects (gives a modest amount of build credits, will last us a few days). We need to move those builds to another provider, like:
* GitHub actions
* CircleCI
* Azure pipelines

Builds are now pretty slow, but they will be shut completely in a matter of a few days at most (there is no deadline, they are migrating projects to the paid

[2020-11-24 16:37] simboss commented on #214
@aaime I just need an estimate and an implementation plan.

[2020-11-24 16:57] aaime commented on #214
Subtypes? Hum... GeoTools would understand a partitioned table as a normal table and deliver just a single type out of it. If we are dealing with inheritance, then it seems to me we are talking about app-schema, and the rest of the response does not make sense.

I've seen usage of partitioned tables in a different context, as a way to speed up queries, if the filter manages to exclude entire parti

[2020-11-25 08:54] simboss commented on #215
@aaime schedule a call to discuss options and costs

[2020-11-25 08:56] aaime commented on #215
Brad Hards noticed the meeting logs and started migrating jobs to GitHub actions. Not sure how far he will get, seems he won't migrate all builds (the database ones in particular might not be migrated, but the situation is evolving, PRs are out and being updated as I write)

[2020-11-26 11:53] simboss commented on #214
@aaime can you liaise with @chpicone to make sure the scenario is clear as this is going to be part of next webinar I guess.

[2020-11-27 08:56] aaime commented on #215
Brad and Mark have been doing all the work (including all of the databases), assinging to myself just for the sake of review and merge

[2020-11-27 09:46] aaime commented on #214
PR is out, here: https://github.com/geoserver/geoserver/pull/4586
Asked @afabiani for a review and switched this issue to the "review" column.
Also asked Berhnard about the login/logout buttons and the automated build support.

[2020-11-27 10:10] aaime commented on #214
Chatted with @chpicone, the subtypes have the same structure as the parent table, but different check constraints to maintain integrity, something that would pop up only when using WFS-T. So the estimate I've made above is all we need.

[2020-11-27 11:30] simboss commented on #214
@aaime thake into account that we would need to backport this to 2.17.x for this project as we are using GeoNode.

Do you think it would be acceptable?

[2020-11-27 12:04] tdipisa opened #216 "Mixed Content issue using the WPS gs:Download"
While testing the gs:Download process through the new MapStore export tool I found the following issue that has been originally reported in [this](https://github.com/geosolutions-it/MapStore2/issues/6144#issuecomment-733640628) MapStore issue.

The **GetExecutionStatus** request performed by MS using HTTPs:

https://gs-stable.geo-solutions.it/geoserver/wps?service=WPS&version=1.0.0&REQUEST=GetExec

[2020-11-27 12:08] tdipisa opened #217 "Issue using the WPS gs:Download for some raster layers"
While testing the gs:Download process through the new MapStore export tool I found the following issue that has been originally reported in [this](https://github.com/geosolutions-it/MapStore2/issues/6144#issuecomment-733640628) MapStore issue.

There is a GeoServer error if I try to export the **nurc:mosaic** raster layer (it seems related to an issue previously reported [here](https://github.com/

[2020-11-27 13:11] aaime commented on #214
Yes, the actual code change is a line, it's just the test will take some effort.

[2020-11-27 17:30] nmco commented on #216
@taba90 let's dot he usual work-flow:
- initial investigation and estimate, max 2 hours, if we need more let's ask the client
- try to reproduce the issue, check that we have everything we need

The project and project code are:

ALMAVIVA |  C183-ALMAVIVA-2020-GeoNode-DEV
-- | --

[2020-11-27 17:31] nmco commented on #217
@taba90 let's dot he usual work-flow:
- initial investigation and estimate, max 2 hours, if we need more let's ask the client
- try to reproduce the issue, check that we have everything we need

The project and project code are:

ALMAVIVA |  C183-ALMAVIVA-2020-GeoNode-DEV
-- | --

[2020-11-30 09:41] simboss commented on #216
@taba90 keep us posted.

[2020-11-30 09:44] taba90 commented on #216
@simboss  working on this

[2020-11-30 10:07] taba90 commented on #217
@nmco
it seems a problem with the CoverageInfo definition of the nurc:mosaic layer.

- I've replicated the issue performing the request reported on the nurc:mosaic layer as it is in the geoserver data_dir
- The coverage.xml is missing the dimensionType required by the download estimation which will receive a null object [here](https://github.com/geoserver/geoserver/blob/1621654ba19c4315fea692a0c1c

[2020-11-30 11:29] nmco commented on #217
@jemacchi creates this [JIRA ticket](https://osgeo-org.atlassian.net/browse/GEOS-9785), which is very vague.

We have two situations here:
- @tdipisa is testing the downland process using GeoServer release data directory, which has the coverages definitions broke:
  - @taba90 let's do a PR fixing GeoSevrer release data directory, I guess you can use the JIRA @jemacchi created.
- It's not clear to

[2020-11-30 11:40] aaime commented on #217
Not much right now, but a note, the layer in question has been added in the data directory easily 15 years ago, and might have a configuration that is at least odd by today's standards. That said, the process should not be failing because of it... if the size information is not available from the coverage band details, it can be gathered from ``GridCoverage2DReader.getImageLayout().getSampleModel(

[2020-11-30 11:59] taba90 commented on #216
@nmco

- The response returned for the getExecutionStatus request is built during the Execute request.
- The only way that reported issue can occur is that the Execute request is performed with **http** and the getExectuionStatus with **https**.
- The **wps:Reference href** attribute in the response is built here and the http or https is put according to the [getScheme ](https://tomcat.apache.org/

[2020-11-30 12:04] nmco commented on #217
Thank you for the feedback @aaime, two bits are not clear to me (I don't know much about this APIs):
- So this is only happening with this specific very old layer? In that case, yes let's just update it.
- The information the process is trying to retrieve, the size of the raster? (@taba90 always add your investigation code pointers), can be obtained in two ways:
  - From the bands details, may not

[2020-11-30 12:20] nmco commented on #216
@tdipisa do you know if this is the case?

If that's the case @tdipisa and if MapStore controls those requests, it may be enough for you to make that MapStore always use HTTPS.

That say, @taba90 it may happen that the execution and the then the get status are invoked from different URLs or even different protocols (although it's a security breach it's possible for a site to answer HTTP and HTTPS)

[2020-11-30 13:24] tdipisa commented on #216
@nmco as I reported in the issue description, MapStore is performing a request using HTTPS but in the GeoServer response we have the following:

`<wps:Reference href="http://gs-stable.geo-solutions.it/geoserver/ows?service=WPS&amp;version=1.0.0&amp;request=GetExecutionResult&amp;executionId=ebd48fbd-f8db-40ff-b11e-841fe2bbec03&amp;outputId=result.zip&amp;mimetype=application%2Fzip&amp;authkey=42a4

[2020-11-30 13:34] taba90 commented on #216
@tdipisa  the point is about the **Execution** wps request perfomed before the **ExecutionStatusRequest** reported in the issue description.
Are you confirm also that the Execution request in this use case is performed over **https**  as the **ExecutionStatusRequest** whom response is causing the issue? Or is it performed using **http**?

[2020-11-30 13:37] aaime commented on #217
It happens for that specific very old layer for sure... and probably every other raster layer having a similar age (data dirs keep on getting upgraded and migrated, there are some very old ones out there). It's probably a small percentage of layers  out there, but quite likely there are others around.

[2020-11-30 13:42] taba90 commented on #216
@nmco regarding the alignment between request and stored response base url:

- [Here ](https://github.com/geoserver/geoserver/blob/6e9e25c0c7cdda9ada9f33f8255130d3afc76801/src/extension/wps/wps-core/src/main/java/org/geoserver/wps/GetStatus.java#L51)I would add some code I would parse with a [Parser ](https://github.com/geotools/geotools/blob/2bf61f5245978f6a57e6d10009a0c084cc398b94/modules/extens

[2020-11-30 15:06] taba90 commented on #217
@nmco as pointed by @aaime the reader.getImageLayout().getSampleModel() allows to retrieve the size information. The doubt I have is regarding mosaic data. In that case the ImageLayout is always null for the underlying RasterManager. It try to build it from the [MosaicConfigurationBeanto ](https://github.com/geotools/geotools/blob/2552928b3216420129100c880cd6230f4aae17d1/modules/plugin/imagemosaic

[2020-11-30 15:45] aaime commented on #217
@taba90 weird, the sample image on disk shoudl contain also a image layout, right @dromagnoli ?

[2020-11-30 16:07] dromagnoli commented on #217
Yep @aaime . the rasterManager is indeed loading the default ImageLayout from that sample image.
However, as you said, that dataset is probably there since 15 years ago when no sample_image was around.
the nurc_mosaic directory is indeed missing the sample_image

[2020-11-30 16:27] aaime commented on #217
Another possibility is just to log a warning and don't try to apply size limits to data that does not want to help :-D

[2020-11-30 16:52] nmco commented on #216
@taba90 so what's the estimate?

[2020-11-30 16:53] taba90 commented on #216
estimate is **4** hours

[2020-11-30 16:56] nmco commented on #216
Summary for you @tdipisa:
- Either MapStore can make sure that we always uses HTTPS when invoking the WPS process and the get status;
- **Either we fix this behaviour in the code, the estimate is 4 hours.**

Let's know if we can move forward.

[2020-11-30 16:58] nmco commented on #217
Thank you @aaime, @dromagnoli and @taba90 for the feedback.

I would suggests that we fix the GeoServer data directory and then if this situation happen again, let's see what we can do code wise.

[2020-11-30 17:02] tdipisa commented on #216
@nmco @taba90

Below are the other requests performed by MapStore under HTTPS

https://gs-stable.geo-solutions.it/geoserver/wps?service=WPS&version=1.0.0&REQUEST=Execute&authkey=fa31bc8e-c517-40c1-86fb-f109bf68ed47

POST body

[code]

https://gs-stable.geo-solutions.it/geoserver/wps?service=WPS&version=1.0.0&REQUEST=Execute&authkey=fa31bc8e-c517-40c1-86fb-f109bf68ed47

POST body

[code]

[2020-11-30 17:15] nmco commented on #216
So basically @tdipisa confirmed that MapStore always use HTTPS, so @taba90  we need to producer this issues (exactly this one) and put a debug point. If you need support for this @tdipisa may be able to help.

[2020-12-01 00:11] nmco commented on #216
I set up locally a GeoServer behind an HTTPS and could not reproduced this issue, I also give it a try querying gs-stable and it seems to be working as expected, GeoServer respects the configured proxy base URL:
https://drive.google.com/file/d/11yxU89eMJ79eZ5wyreCuVNDLiobvRux6/view?usp=sharing

[2020-12-01 00:27] nmco commented on #216
**Please disregard my last comment**, locally everything works fine, and remotely everything works fine, **except the ``GetExecutionStatus`` where indeed HTTP is used instead of HTTPS**.

Local:

![image](https://user-images.githubusercontent.com/1590542/100681428-9177d900-336b-11eb-8837-3a291abf2bc1.png)

Remote:

![image](https://user-images.githubusercontent.com/1590542/100681554-e7e51780-336b-

[2020-12-01 10:21] nmco commented on #216
Issue reproduced locally with the help of @randomorder and @taba90, the problem is related with the usage of HTTP proxy headers variables on the proxy base URL:

![image](https://user-images.githubusercontent.com/1590542/100728004-e55fdd80-33be-11eb-93b5-5b955b2184be.png)

Investigating deeper.

[2020-12-01 16:23] nmco commented on #216
Phew, this one was quite a roller-coast, so with the help of @aaime we were able to identify the bug and come up with a reasonable plan to fix it.

Long story short, when answering an synchronous call the WPS process will answer right away with payload providing the necessary info to retrieve the execution status, and consequently download the result. In the meantime the requested execution will s

[2020-12-01 16:31] nmco commented on #216
@taba90 let me know if my findings above make sense (and if my description is not too cryptic), if that's the case can you propose an estimate to implement the fix and test.

[2020-12-01 17:33] simboss commented on #216
@taba90 I am reassigning this to @aaime since we need an expedit fix and you have other priorities on your table.

[2020-12-01 17:52] simboss commented on #216
This is coming from GeoNode, hence it needs to be fixed on GeoServer 2.17 (GeoNode uses 2.17.2).

We might actually come up with a jar fix for the client for the time being then we upgrade to next 2.17 release.

[2020-12-03 10:31] aaime opened #218 "Upgrade OAuth2 modules to Spring Security 5"
The current OAuth2 modules are using an outdated version of the Spring OAuth2,  ``2.0.16.RELEASE`` (was probably not included in Spring security back then), to the current version 5, which is part of the Spring security distribution.

This came out while I was searching for classes to support the Orbicon development (parsers for OpenID connect defaults document and JWT token, which are present in

[2020-12-07 14:56] taba90 opened #219 "App-schema bug jdbcMultipleValue directive"
The jdbcMultipleValue directory doesn't work if in app-schema is defined a ClientProperty with xlink:href eg.:

`<AttributeMapping>
				  <targetAttribute>eposl:purpose</targetAttribute>
				  <encodeIfEmpty>true</encodeIfEmpty>
				  <jdbcMultipleValue>
					<sourceColumn>boreholeid</sourceColumn>
					<targetTable>purpose_view</targetTable>
					<targetColumn>bss_id</targetColumn>
					<targetVa

[2020-12-11 18:24] simboss commented on #214
Being a fix, we would need this to go as back as possible, until 2.17 I'd say.

This will have to be tested on GeoNode's GeoServer.

[2020-12-14 12:17] taba90 opened #220 "AppSchema JDBC issue when foreign key is also used as a primary key"
If on the db a foreign key is defined also as a primary key, the jdbcFeatureReader will produce a select query where the foreign key fields happen twice eg. `"select schema.table.fk, schema.table.column, schema.table.fk ..."`.  Since the featureBuilding process retrieve values from the ResultSet on an index basis, this will cause wrong value to be put for each attributes after id since the foreign

[2020-12-22 10:56] aaime commented on #214
Changes merged on master and backported on 24.x and 23.x. Will be available starting with the January releases, onwards.

[2020-12-22 11:03] simboss commented on #214
@aaime is it possible to isolate the JARs involved in this fix?

@chpicone this is for you...

[2020-12-22 11:15] aaime commented on #214
Yes, only ``gt-jdbc-postgis-<version>.jar`` has been affected. It can be picked from a GeoServer nightly build (starting tomorrow, but I can force the nightlies to run sooner if needs be).

[2020-12-23 14:00] taba90 commented on #198
Jira ticket for this https://osgeo-org.atlassian.net/browse/GEOS-9844

[2020-12-23 15:20] aaime opened #221 "GeoServer cannot read GeoTiff with JPEG compression and alpha band"
See: https://osgeo-org.atlassian.net/browse/GEOS-9832

Short summary: the image is in CMYK color mode, maybe as an attempt to store 4 bands, but the Java own JPEG reader does not support it. We could test TurboJPEG.

[2021-01-08 14:22] simboss commented on #214
@aaime is this fix part of 2.17.4? I think so, right?

[2021-01-08 14:25] aaime commented on #214
No, the backport missed the release by a couple of days.

[2021-01-08 14:32] simboss commented on #214
ouch, @chpicone did you read this message from @aaime ?

This means we have discuss a little on how to upgrade Krihs GeoNode (separately from this issue).

[2021-01-08 14:32] #214 closed

[2021-01-08 14:56] chpicone commented on #214
Can we update just the gt-jdbc-postgis-<version>.jar library?

[2021-01-08 15:03] aaime commented on #214
I believe so, yes, it's the only one that has been changed, and I see no other changes after the partitioned table fix in gt-jdbc-postgis (nor in gt-jdbc). So it _should_ work. We can only make sure testing it out.

[2021-01-24 21:56] nmco opened #223 "Set Response Cache Headers in LayerGroups"
The new functionality is described [here](https://osgeo-org.atlassian.net/browse/GEOS-9759). We can find [here](https://drive.google.com/file/d/1OxVroNZRBjL08M15VnOdfRjx-7IzICtb/view?usp=sharing) a video demoing the same functionality for layers, the goal is to implement it for layer groups. The documentation for this functionality on layers is available [here](https://docs.geoserver.org/latest/en

[2021-01-24 22:50] nmco opened #224 "Rendering process fails if vendor option sortByGroup is used"
This bug is described in detail [here](https://osgeo-org.atlassian.net/browse/GEOS-9748). I was able to load a reproduce the error using the user provided data, although I also found a much simpler way of reproducing it. Onl for reference, I will document here the steps I followed to reproduce the client problem using is data:

First I created the necessary PostGIS database:

[code]

Then I loaded

[2021-01-24 22:52] nmco commented on #224
The sorting options are documented [here](https://docs.geoserver.org/stable/en/user/styling/sld/extensions/z-order/syntax.html).

[2021-01-27 15:53] aaime commented on #156
Checked:

- Just adding a couple of 512px tiles based gridsets is easy, say 2-4 hours
- Adding the gridsets from the OGC standard (they are all 256px based mind) can take another 8 hours. I'd recommend to go and do both, so that we can do the 512px gridsets based on the new standard names, e.g., WorldCRS84Quad512, rather than EPSG:4326_512, as having ":" in the path of a OGC API Tile looks like a

[2021-02-02 14:14] nmco commented on #217
@taba90 was the directory fixed? if not let's do it its a quick thing and will avoid nay future misunderstanding.

[2021-02-02 14:25] nmco commented on #156
So the full estimate is 16 hours @aaime? Is this something we should do as an internal task  @simboss ?

[2021-02-02 14:39] simboss commented on #156
yes.

This is to match MapStore tiling which now by default can do 256 or 512, so let's test that as well.

[2021-02-02 15:00] #152 closed

[2021-02-02 15:31] nmco commented on #198
There is a review pending from @aaime, @taba90 can you have look a move this forward?

[2021-02-02 15:43] nmco commented on #190
So @simboss and @giohappy is this still relevant?

[2021-02-02 15:50] #197 closed

[2021-02-02 15:50] #199 closed

[2021-02-03 14:22] giohappy commented on #190
the project where this request stems from has been closed without this feature. Of course this would be a useful addition for Geoserver, even inside the context of GeoNode, but it's not a top priority right now. @simboss what's your opinion? should close this for the time bieng?

[2021-02-04 13:21] aaime commented on #216
This has been solved for a while in GeoServer, was it tested? Can we close the issue?

[2021-02-04 13:22] #215 closed

[2021-02-04 13:32] tdipisa commented on #216
@aaime I've tested in on our MS dev and it is working.

[2021-02-04 20:48] #216 closed

[2021-02-05 11:23] nmco opened #225 "When Geofence is present removing a gridset makes the layer non accesible anymore"
This was reprove din this ticket:
https://geosolutions.freshdesk.com/a/tickets/46919

The client fixed this by removing GeoFence, deleting the layer and then reinstall GeoFence ...

@taba90 **let's spend 30 MAX** trying to reproduce and fi that's the case open a JIRA ticket.

[2021-02-08 18:09] aaime opened #226 "Add default gridsets with 512px tiles to GeoWebCache"

[2021-02-08 18:10] aaime opened #227 "Support well known gridsets from the OGC tile matrix set standard to GWC"

[2021-02-09 14:02] randomorder commented on #141
Please update this issue @agpenton

[2021-02-10 16:13] aaime commented on #141
Looking at the proposal, the WCS 2.0 and WFS 2.0 builds are marked as recommended, even if not strictly required, while other builds like geopackage, KML, GML and WPS are marked as optional.

Since more builds will definitely need to be added down the road, some guide explaining how to add a build for a new service (e.g., WPS?) would be quite useful.

[2021-02-10 16:34] randomorder commented on #141
hello? :)

good point. @agpenton please open a separate issue for this we'll do it after submitting the updated PR

[2021-02-11 14:31] agpenton commented on #141
@randomorder  i have enabled the build for the 3 suites in the pom.xml file for teamengine-beta.
this is the [PR](https://github.com/geosolutions-it/teamengine-docker/pull/1)

[2021-02-15 10:14] agpenton commented on #141
@aaime i've made a form to run the WFS 2.0 CITE suite, and I got some errors, attached find the form and the log of the automated test.
this is the form:
[code]
this is the error
[code]

[2021-02-15 11:48] simboss opened #228 "GeoServer Transaction event management should be made more robust wrt Exceptions"
Just a note that the Transaction event management should be made more robust, write down traces but continue the processing. Right now it's going to fail at the first exception thrown:

https://github.com/geoserver/geoserver/blob/4b6bcccb5157923d561cdbe52d1aa1f0d1774cf1/src/wfs/src/main/java/org/geoserver/wfs/Transaction.java#L432

_Originally posted by @aaime in https://github.com/geosolutions-it

[2021-02-15 13:16] agpenton commented on #141
about the WCS 2.0:
- got an error about the suite.
[code]
  but the suite is there:
  * wcs2main.xml - I got that error.
  * wcs2suite.xml - same error as the previous one.
  * wcs2suite-auto.xml - "the test start and I got the error of unexpected end of file"
* the form for this suite:
[code]

[2021-02-15 13:59] randomorder commented on #141
@agpenton as agreed please create issues for the optional suites. We'll move on with review and merge of the rest of the work

[2021-02-16 10:55] agpenton commented on #141
@randomorder I've created the issues for each CITE build.

[2021-02-22 18:21] aaime commented on #226
@simboss Merged on master, ready for tests.

[2021-02-25 14:50] simboss commented on #226
https://github.com/geosolutions-it/MapStore2/issues/6590

[2021-03-05 11:07] giohappy opened #229 "SQL views are not saved if the layer is not saved too"
The Save button at the bottom of the *Edit SQL view* page when modifying a SQL View in GeoServer is expected to be enough to write and flush the configuration changes, at least from a user standpoint.
However this is not true, the layer must also be saved using the save button at the bottom of the main *Edit Layer* page, otherwise the changes to the SQL View are not applied.

From a user standpoin

[2021-03-05 13:08] simboss commented on #229
@aaime what do you suggest?

[2021-03-05 13:18] aaime commented on #229
Are we talking about the issue of the other day, where the sql view was modified, but the feature type reported in the page was wrong? In that case, we need to debug the page code, I don't have an answer to your question, but it should be fixed.

If instead you're thinking that a sql view definition should really be applied so that all requests react to it right away (outside of the page), then no

[2021-03-05 13:33] simboss commented on #229
We are talking about what I showed the other day but I think you are remembering wrong.

The issue here is that you need to save twice and the user will mistakenly thinking after the first save that the work is done ( I was mistaken, Giovanni was and so was the client so ...).

From what you say I think we need to make it more clear for the end user that we need to save twice before having the beh

[2021-03-05 17:15] #217 closed

[2021-03-08 11:17] chpicone opened #230 "Missing JAR in the WPS download module (2.18.x)"
I've opened this issue in [JIRA](https://osgeo-org.atlassian.net/browse/GEOS-9963) about 2 missing plugins in the packaging of the module:
- jackson-annotations-2.10.5
- jackson-databind-2.10.5
I tested this using GeoServer 2.18.2 and community modules 2.18.x.

[2021-03-08 14:56] dromagnoli commented on #230
I see this from the JIRA log:
Caused by: java.lang.NoClassDefFoundError: com/fasterxml/jackson/databind/ObjectMapper
at org.geoserver.geopkg.wps.OWSContextWriter.<clinit>(OWSContextWriter.java:84)
at org.geoserver.geopkg.wps.GeoPackageProcess.execute(GeoPackageProcess.java:165)

Which makes me think about a problem with the gs-geopkg module instead of wps-download.
Checking the mvn dependency:tree

[2021-03-11 11:12] nmco opened #231 "Improve parameters extractor plugin logging and auditing capabilities"
Parameters extractor plug-in as been graduated to an official extension and its used by several clients in production, unfortunately to logging is not great. We should at least:
- At INFO level log the full HTTP request after it has been transformed.
- At TRACE level log which rules are applied or rejected.
- It should be possible to integrate it whit the monitor plug-in.
- A message should be log

[2021-03-15 18:36] simboss commented on #226
@aaime testing on mapstore is done and the gridsets seem to align perfectly.

Can we backport to 2.18 as well as we discussed?
This will help us a lot also with GeoNode integration of both.

[2021-03-15 18:41] aaime commented on #226
I can ask at the PSC meeting tomorrow. As a new feature, backport needs to be approved.

[2021-03-16 09:39] simboss commented on #226
Hi Andrea,
go ahead and ask then we will see who we can ask to do the actual work.

Let me know here how it goes.

[2021-03-17 10:02] simboss commented on #221
@dromagnoli can you do an investigation for this?

[2021-03-17 17:22] aaime commented on #156
Asked on the PSC meeting yesterday, no objection. PR is building: https://github.com/GeoWebCache/geowebcache/pull/934

[2021-03-17 17:41] aaime commented on #226
Yep.. thought you said so yesterday durning our meeting, maybe I got confused?

[2021-03-17 18:05] simboss commented on #226
Not really, just read two comments above.

[2021-03-18 09:39] aaime commented on #226
Backport is done

[2021-03-23 16:53] nmco commented on #231
@taba90 let's spend 1hour MAX preparing a plan whit the requested enhancements above, then let's discuss what to do next.

[2021-03-24 09:08] taba90 commented on #231
@nmco

1. Looks like there are already the logs that you are expecting:
      - [Here] (https://github.com/geoserver/geoserver/blob/8fd0b0884570f9536c591d88d78354393058e263/src/extension/params-extractor/src/main/java/org/geoserver/params/extractor/Rule.java#L60) logs are applied to rules that are deactiveted or not applied; the Log level is DEBUG if needed we can change it to TRACE.
     - [Here]

[2021-03-24 16:10] taba90 commented on #145
I made a new pull request with a branch that is a checkout from the one in the previous pr, and added some commits.
https://github.com/geoserver/geoserver/pull/4906
@afabiani  and @aaime for the review, one note about [this piece of code](https://github.com/geoserver/geoserver/blob/d90b495a0ab900cbc0a82a7ba117e44025926512/src/community/authbasic/src/main/java/org/geoserver/security/auth/web/Simple

[2021-03-24 16:24] giohappy commented on #145
@taba90 if I remember correctly the role services retrieve the actual admin role from a specific endpoint (see image below). This endpoint returns the role to be considered a Geoserver admin, independently from the ROLE_* convention.

The convention of the ROLE_* prefix stems from the AuthKey module. It's exaplined inside [AuthKEY WebService Body Response UserGroup Service](https://docs.geoserver.

[2021-03-25 08:45] taba90 commented on #145
thanks for the heads up @giohappy  now its clear. Currently there is no possibility to specify a separate regex/path for the admin role   in the new community module.
Let me know if this should be implemented. For the moment I've simply limited to make the module ready to be contributed with the functionality already in place.

[2021-03-25 09:31] simboss opened #232 "Create an introduction document for GeoServer WCS INSPIRE investigation"
We shall create a document to track the relevant information for starting the investigation.

[2021-03-25 09:32] simboss opened #233 "GeoServer WCS INSPIRE investigation"
We are starting an investigation over GeoServer compliancy for INSPIRE.
This epic is a placeholder for the issue that we will create.

[2021-03-25 13:52] nmco commented on #145
@taba90 for the moment let's focus on the functionalities already in place (this module if I'm not mistaken was already tested by @giohappy). @giohappy if you would like that extra functionality I would recommend to create a new issue.

[2021-03-25 13:57] giohappy commented on #145
I haven't asked anything :)
A long time has passed since the last tests. Do you want to test it again @taba90 before merging?

[2021-03-25 14:03] nmco commented on #231
@taba90 documentation of the module should be updated whit this information:
- How to check the log to understand that the module was properly loaded up.
- How to check at INFO level the URL was transformed, both on log and auditing.
- How at DEBUG level understand which rules where tried out and the outcome of each one.
- Basically when debugging a problem whit parameters extractor we should be a

[2021-03-25 14:05] nmco commented on #231
Another aspect, when the rules are changes or updated, that should be clear on the log.

[2021-03-25 14:39] #141 closed

[2021-03-25 14:46] taba90 opened #234 "Templating support for GML"
@nmco commented on [Mon Aug 31 2020](https://github.com/geosolutions-it/C124-BRGM-2019-JSON-LD/issues/41)

BRGM ask us to estimate the implementation of templating support for GML, templating means everything: create a template referencing simple or complex features attributes, support for backwards mapping. The GML templating should be based on an XML templating, this will allow us to support thi

[2021-03-25 14:47] taba90 opened #235 "Serving a single feature via template"
@taba90 commented on [Wed Dec 16 2020](https://github.com/geosolutions-it/C124-BRGM-2019-JSON-LD/issues/45)

At the moment when a getFeature with a featureid is done with the ogcapi plugin the result should be a feature as a single jsonobject not an array with 1 element.
I see two possible options:

1. define an include directive to reuse templates (eg. `{"$include":"featureTypeName:template file

[2021-03-25 14:51] taba90 opened #236 "Add Rest API to manage json template"
@taba90 commented on [Tue Jul 07 2020](https://github.com/geosolutions-it/C124-BRGM-2019-JSON-LD/issues/32)

Currently template configuration has no template api. A rest interface is needed.
The rest api will allow to perform crud operations on both templates and content negotiation rules.

[2021-03-25 14:52] taba90 opened #237 "Add UI interface to manage template configuration"
@taba90 commented on [Tue Jul 07 2020](https://github.com/geosolutions-it/C124-BRGM-2019-JSON-LD/issues/33)

A UI interface is needed in order to provide an easier way to configure templates. It can be similar to the one used for sld style allowing to:

1. directly write the template configuration inside a text box;
2. load a template from filestystem displaying it in the text box;
3. copy a templ

[2021-03-25 14:53] taba90 opened #238 "HTML representations of complex features"
@nmco commented on [Fri Jul 10 2020](https://github.com/geosolutions-it/C124-BRGM-2019-JSON-LD/issues/38)

This issues as two tasks:
- Enhance OGC API - Feature HTML representation to support complex features.
- Add the possibility, this should be configurable, to inject he JSON-LD representation in an HTML representation, this useful for web crawlers.

The HTML thing is a bit weird, the reason be

[2021-03-25 14:54] taba90 opened #239 "XML templating support"
Add support for xml templating. This should allow to serves features with both GML and HTML outputformat.

[2021-03-25 15:34] taba90 commented on #231
@nmco attached is the logged request from the monitoring plug-in.
In conclusion:
- To log when a rule is updated or saved or deleted logs will be added to the [RuleDao](https://github.com/geoserver/geoserver/blob/8fd0b0884570f9536c591d88d78354393058e263/src/extension/params-extractor/src/main/java/org/geoserver/params/extractor/RulesDao.java).
- Info log will be added [here ](https://github.com/ge

[2021-03-26 10:20] taba90 commented on #145
the old pr is still open.  If it is meant to be closed can some one do it? (I don't have permissions) https://github.com/geoserver/geoserver/pull/4483

[2021-03-26 10:26] taba90 commented on #145
Attaching here the 2.18.2 jar for test purpose
[gs-authbasic-2.18.2.zip](https://github.com/geosolutions-it/geoserver/files/6211050/gs-authbasic-2.18.2.zip)

[2021-03-26 11:50] taba90 opened #240 "JDBCMultipleaValue directive ClientProperty might result in ambiguous query"
When defining a ClientProperty after JDBCMultipleValueDirective, the resulting query to the db might result to be ambiguous  in case of multiple clientProperty with the JDBCMultipleValueDirective are defined for the same FeatureTypeMapping and the respective table have a column name named equally. This has been reproduced with geoserver test data, not involves the current BRGM use case. To fix thi

[2021-03-26 17:10] taba90 commented on #219
Made a pr one https://github.com/geotools/geotools/pull/3420

[2021-03-26 17:11] taba90 commented on #240
made a mastrer pr for this https://github.com/geotools/geotools/pull/3420

[2021-03-29 08:36] simboss commented on #145
@giohappy please, liaise with @taba90 and maybe michal for testing this before we merge it.

[2021-03-29 08:45] giohappy commented on #145
@simboss test were already done on Friday. Michal confirms that it's working.

[2021-03-29 08:51] simboss commented on #145
perfect.

@taba90 I have not checked the PR but I would want to see clear documentation provided as part of this PR.

If we do not have it, please, open a seprate JIRA and add it in a separate PR.
Make also sure code coverage is enough.

[2021-03-29 08:53] simboss commented on #145
K, I see there is basic documentation but I am not sure it suffices.

We need _user_ documentation so that someone who wants to use this feature does not have to become crazy to understand how it works.

[2021-03-29 09:58] aaime commented on #145
I've reviewed the module, there are two significant issue.

Naming
----------

First one is naming: it should not be called basic auth, it's confusing (I see this has been discussed above, but it's worth repeating).

The security subsystem is complicated enough already, without adding extra confusion to existing terminology.

The basic authentication is one of the ways a username/password can be p

[2021-03-29 10:30] giohappy commented on #145
@aaime I totally agree with base64. This actually was required by myself long time ago [in this comment](https://github.com/geosolutions-it/geoserver/issues/145#issuecomment-587483995)

[2021-03-30 10:10] giohappy opened #241 "Show installed modules in status panel"
Having the list of the installed modules would be very helpful.
Something like this (screenshot provided by @aaime)

![image](https://user-images.githubusercontent.com/571129/112972663-c85ecf80-9150-11eb-8a47-e024f546626d.png)

[2021-03-30 10:14] aaime commented on #241
There has been a bit of a discussion about it in list/prs recently. We need to make changes similar to this one for every module that still does not have the module declaration bean (the ModusStatusImpl):
https://github.com/geoserver/geoserver/pull/4850

Believe we'd have to do it for most of the modules we recently graduated, as well as the ones we're using the most that are still unsupported (e.

[2021-03-30 11:05] nmco commented on #231
Could you be a bit more explicit, it's not clear to me what I should look like in the audit logging, looks like only the query string is logged, there is no hint that parameters extractor did anything no?

What we need here is pretty practical; **We are investigating an issue in a production environment that we don't' have access too, and we need to understand what parameters extractor is doing ju

[2021-03-30 13:58] #220 closed

[2021-03-30 13:59] nmco commented on #219
@fernandor777 can you review this fix?

[2021-03-30 15:32] nmco opened #242 "Review INSPIRE training material"
To clarify with @simboss:
1. Where is the updated training material for review?
1. Should we update the existing material whit the new Smart Data Loader and Features Templating?
1. Looks like there will not be an INSPIRE conference this year.

[2021-03-30 15:40] nmco commented on #232
Document available here:
https://docs.google.com/document/d/1eQKpcDAFkqOabjhR2smgXfhkhLaLUdc035-x30t-Xlw/edit#

I have added a link to relevant resources and concrete issues.

[2021-03-30 15:47] nmco opened #243 "Dive into the INSPIRE WCS topic"
@dromagnoli I have created [this document](https://docs.google.com/document/d/1eQKpcDAFkqOabjhR2smgXfhkhLaLUdc035-x30t-Xlw/edit#) for us to share resources and investigation results.

I would recommend that you start by reading the provided resources and practical question from Kathi and Jordi.

One of the outcome of this initial investigation should be the list of things we miss to allow INSPIRE

[2021-03-30 16:28] taba90 commented on #145
pr updated

[2021-03-30 17:12] nmco opened #244 "Update complex features training material with Smart Data Loader and Features Templating"
We should wait for BRGM new line of work to be done (XML support and UI implementation).

[2021-03-30 17:12] nmco commented on #244
/remind me 20-05-2021

[2021-03-30 17:12] simboss commented on #242
1. I should have given you alla the info, please report them here
2. If the version we are using (2.18), allows it, yes. If not, let's do it again and let's make it clear this won't work with the training.
3. Then let's do something ourselves

[2021-03-30 17:15] nmco commented on #244
/remind me in 10 minutes

[2021-03-30 17:27] nmco commented on #242
Created a [dedicated issue](https://github.com/geosolutions-it/geoserver/issues/244) for updating the training material with Smart Data Loader and Features Templating.

Spreadsheet about what to review available [HERE](https://docs.google.com/spreadsheets/d/1CSjRmUtT4RHdI5rULVLjAHEyIKYIEOfShg5-IZshAo4/edit#gid=7).

An automated build will build from Educational GitHub and publish the result [HERE]

[2021-03-31 13:07] nmco opened #245 "Plan to implement the XML feature templating support"
Can you detail on this issue @taba90 the plan for the implementation of the XML templating support? Make sure you include:
- Re-factoring of the existing builders architecture.
- Implementation of the XML templating.
- Implementation of the GML and HTML templating.

Don't be afraid of provided technical details.

[2021-03-31 17:09] taba90 commented on #231
@nmco
The audit logger is logging both the request before rules being applied and after: as it is possible to see the first url has the right side of the filter provided in the url path, while the second one has it in the query parameter. Thinking in practical term seems to me that this is a clear signal that the params extractor applied a rule. Anyway a plan and an estimate for add additional fie

[2021-04-01 09:41] taba90 commented on #242
@nmco
I think the part to review/modify are two:
the one about complex features and the one about INSPIRE support.

- The complex features section should be renamed as ComplexFeature support and the hale part will be a subsection. The smart data loader section will be added, as well as a features-templating one.

- In the INSPIRE part of documentation I would then mention that the flat geoJSON out

[2021-04-01 18:44] nmco commented on #231
Please provide concrete examples of all the logs messages we will see (include the ones that already exists) [HERE](https://docs.google.com/document/d/1CIiKmS9bqHYmWDCb45omNd2ScLxDUKX2pI5LPmwjRyk/edit?usp=sharing). This is a quick thing to do and will make sure we are all on the same page.

[2021-04-01 18:50] nmco opened #246 "Review complex features training material"

[2021-04-01 18:51] nmco opened #247 "Review inspire extension training material"

[2021-04-01 18:54] nmco commented on #242
@taba90 I have turned this issue in an EPIC, currently we are only focusing in reviewing the the complex features section of the training material, please provide your feedback and estimate on that dedicated issue -> https://github.com/geosolutions-it/geoserver/issues/246 thx :smiley:.

[2021-04-02 09:14] taba90 commented on #246
- Turn the HALE part in a subsection.
- add a subsection coveraging SmartDataLoader and FeaturesTemplating.
Estimate is 2,5 - 3 hours

[2021-04-02 10:26] nmco commented on #246
@taba90 this is a simple review we are aiming for here not a re-factoring, there is two dedicated issues for that re-factory under this EPIC.

What we need to do here is:
- Read the [Complex Features with GeoServer and HALE](https://geoserver.geo-solutions.it/educational/en/complex_features/index.html) portion of the training, fix any invalid or wrong information.
- Take note of any significant im

[2021-04-02 10:36] taba90 commented on #245
@nmco attached are two mocks of the gml and xhtml templates.

The implementation plan is the following:

- Currently builders (the template bricks) are created trough a [BuilderFactory](https://github.com/geoserver/geoserver/blob/a717c858fd786e81b024e87c199b40054b1beda1/src/community/features-templating/features-templating-core/src/main/java/org/geoserver/featurestemplating/builders/BuilderFactory

[2021-04-02 11:05] nmco commented on #243
Any progress on this @dromagnoli ? I have included you in a  discussion with Kathi and update the notes document whit her questions.

[2021-04-06 08:23] nmco commented on #240
@fernandor777 where are we with the review for this? We have been waiting for a week now.

[2021-04-06 08:26] nmco commented on #219
@fernandor777 where are we with the review for this? We have been waiting for a week now.

[2021-04-06 08:30] taba90 commented on #240
closing this issue since it has been with this https://github.com/geosolutions-it/geoserver/issues/219.

[2021-04-06 08:30] #240 closed

[2021-04-06 08:33] nmco commented on #219
Both PRs merged, please backport @taba90 and build a custom WAR for BRGM based on 2.17.2 tag with this fix.

[2021-04-06 16:48] nmco commented on #231
TDMS is having troubles again @taba90, I have sent an invite for tomorrow so we can look at the TDMS report together.

[2021-04-07 08:36] #226 closed

[2021-04-07 10:43] taba90 commented on #231
@nmco the document at the url has been updated.
I've checked the client logs here a first report:
- from those logs seems that the params extractor is not active: the info log should log the url before and after rules are applied doesn't appear. A log like this one should be present when rules are applied  to incoming url:
``07 apr 12:17:41 INFO [org.geoserver.params.extractor] - Request '/geoserv

[2021-04-07 16:06] taba90 commented on #145
@giohappy the module has been merged on master.
I've applied the fix requested by Andrea:

- the credentials are sent Base64 encoded.
- there is a new option from UI to enable authentication using an http service.
- added a check on the response code that has to be 200 to be authenticated. Before the checks was only on the response body to be not null.
- module renamed.

I've already done some man

[2021-04-07 16:53] giohappy commented on #145
I will tell Michal inside the chat.

[2021-04-07 16:53] simboss commented on #145
@taba90, if you do not hear from @giohappy shortly, move on with the backport up to 2.18

[2021-04-08 08:14] nmco opened #248 "INSPIRE requirements for WCS vs GeoServer"
We need to understand the bare minimum we need to have a INSPIRE compliant GeoServer WCS. All feedback should be wrote [HERE](https://docs.google.com/document/d/18rr--R7UiJwPlZdROrwG5i39L1LESjvi6hO953VGK98/edit#).

[2021-04-08 08:15] nmco opened #249 "Discussion with stakeholders"
Discussion available [HERE](https://docs.google.com/document/d/1oK6v44mzWHl5vDdJEXZ2h7XWtuys2ZFO98Kps7zQr1c/edit#heading=h.36yen64ft9uf).

[2021-04-08 08:32] nmco opened #250 "Review INSPIRE training material session related with WCS"
[THIS](https://geoserver.geo-solutions.it/educational/en/inspire/index.html) portion of the training.

[2021-04-08 12:34] nmco commented on #246
Go ahead, the review should be done by Monday.

[2021-04-09 13:14] taba90 commented on #219
@nmco copy pasting the issues found by Abdel:
[code]
[This is the xsd schema being used ](https://data.geoscience.earth/def/eposl.xsd)
Initial investigation result:
seems to me all
[jdbcMultipleValue.zip](https://github.com/geosolutions-it/geoserver/files/6285935/jdbcMultipleValue.zip)
xsd schema definition problems:
1. The xsd definition of the purpose  attribute doesn't defines a maxOccurs="unbo

[2021-04-09 13:30] nmco commented on #219
I have done a quick update to Abdel.

So @taba90 we used a different XSD schema then what their using?

[2021-04-11 15:47] nmco commented on #231
Some improvements implemented [HERE](https://osgeo-org.atlassian.net/browse/GEOS-10019).

[2021-04-13 10:58] taba90 opened #251 "Geofence issue with Chrome"
When GeoServer is installed with the Geofence-server extension, the layers for which the user is grated are not visible on the LayerPreview page and in the getCapabilities document when using Chrome, while they are when using other clients eg. Mozilla.
The issue seems to be related to the IP filter: when using chrome the default value use iPV6 while is correct in other cases.

Additionally openlay

[2021-04-13 11:04] nmco commented on #251
I reproduced the problem.

[2021-04-13 15:51] nmco commented on #145
@taba please backport.

[2021-04-13 15:59] simboss commented on #145
@taba90 we need to go as back as 2.18

Notify @giohappy once done.

[2021-04-14 13:04] taba90 commented on #246
@nmco the data package misses a postgres/bin folder needed from postgis_start.bat to run.
Due this I was able to test only the stations use case tutorial which works fine. I still need to test the landcover and GeoSCiMil examples.

[2021-04-14 15:12] nmco opened #252 "Make App-Schema online test run peirodically"
Right now only App-Schema properties tests are running. We need to discuss whit GeoServer community how to do it.

[2021-04-14 15:19] nmco opened #253 "Decide what to do with Oracle App-Schema support"
Recent version of Oracle broke all the online test for Oracle.

[2021-04-14 18:29] nmco opened #254 "[GEOS-10006] Seeding GWC doesn't work for layers with a dot in the name"

[2021-04-14 18:29] nmco opened #255 "GT \ GS Code Sprint"
Control spreadsheet available [HERE](https://docs.google.com/spreadsheets/d/1SfTiyHTQYOgYr6cQ7kgReEuVrJ1gDJMDiq-ymO8hAvA/edit#gid=0).

[2021-04-14 18:33] nmco opened #256 "[GEOS-9977] Wrong http error code accessing GWC secured layer"
https://osgeo-org.atlassian.net/browse/GEOS-9977

[2021-04-14 18:34] nmco opened #257 "[GEOS-9937] Name of styles with colons are incorrect in REST API"
https://osgeo-org.atlassian.net/browse/GEOS-9937

[2021-04-14 18:34] nmco opened #258 "[GEOS-9917] OutOfMemoryError on WFS 2.0.0 GetFeature of multiple layers"
https://osgeo-org.atlassian.net/browse/GEOS-9917

[2021-04-14 18:35] nmco opened #259 "[GEOS-9815] WMTS data store in some cases ignores matching matrix set"
https://osgeo-org.atlassian.net/browse/GEOS-9815

[2021-04-14 18:36] nmco opened #260 "[GEOS-9792] Shapefile in EPSG:3067 recognized to be in EPSG:5048"
https://osgeo-org.atlassian.net/browse/GEOS-9792

[2021-04-14 18:37] nmco opened #261 "[GEOS-9748] Rendering process fails if vendor option sortByGroup is used"
https://osgeo-org.atlassian.net/browse/GEOS-9748

[2021-04-14 18:37] nmco opened #262 "[GEOS-9742] LDAP disables hostname verification"
https://osgeo-org.atlassian.net/browse/GEOS-9742

[2021-04-14 18:38] nmco opened #263 "[GEOS-9979] GeoServer WMS cannot cache request if CQL_FILTER param contains percent sign"
https://osgeo-org.atlassian.net/browse/GEOS-9979

[2021-04-14 18:39] nmco opened #264 "[GEOS-9978] WMS vendor parameter CLIP - ignores TIME parameter when using with ImageMosaic"
https://osgeo-org.atlassian.net/browse/GEOS-9978

[2021-04-14 18:40] nmco opened #265 "[GEOS-9935] CQL parser will not correctly parse a 10 minutes duration (PT10M)"
https://osgeo-org.atlassian.net/browse/GEOS-9935

[2021-04-14 18:41] nmco opened #266 "[GEOS-9899] GeoServer REST API does not pass the Port to generated URLs"
https://osgeo-org.atlassian.net/browse/GEOS-9899

[2021-04-14 18:41] nmco opened #267 "[GEOS-9820] WFS-T Insert returns FeatureId null"
https://osgeo-org.atlassian.net/browse/GEOS-9820

[2021-04-14 18:42] nmco opened #268 "[GEOS-9803] Geoserver 2.18.1 - datastore Postgis - not usable when "/" in name"
https://osgeo-org.atlassian.net/browse/GEOS-9803

[2021-04-14 18:43] #262 closed

[2021-04-14 18:43] #261 closed

[2021-04-15 10:53] taba90 opened #269 "Simplified property access in Features-templating plug-in"
Context: there  is the need to be able to use property names referring directly to the tableNames and column names present in the underlying database.

Plan:

- A DuplicatingBuilderVisitor will need to visit the builder tree and map the simplified  PropertyName/Xpath function found in the DynamicBuilders, Sources or Filters, to the proper path. This needs to be done before the property names are v

[2021-04-15 12:48] #231 closed

[2021-04-15 13:13] nmco commented on #246
@simboss as per @taba90 comment above looks like the training package (downloaded from [HERE](https://www.dropbox.com/s/l9a4mw7k1hib845/Jose%20Macchi%20-%20Training-Geoserver-2.18.x-20210326.zip?dl=1)) is corrupted. Which is strange since this would mean that no exercise involving PsotgreSQL is passing ...

I see two options:
- We are using the wrong training package.
- It's indeed corrupted, in t

[2021-04-15 13:59] simboss commented on #246
please, define corrupted.

[2021-04-16 08:34] taba90 commented on #246
All the tutorial examples works fine with the provided data, geoserver instance and hale.
I would only change the download url for Hale from the one existing (that points to a version 4.0 that is not supported by the GeoServer AppSchema plug-in) to the[ github hale download page ](https://github.com/halestudio/hale/releases/tag/3.5.0) where the version 3.5 is still available for the download

[2021-04-16 09:01] simboss commented on #246
@nmco can you update the [master plan](https://docs.google.com/spreadsheets/d/1CSjRmUtT4RHdI5rULVLjAHEyIKYIEOfShg5-IZshAo4/edit#gid=7) document?

[2021-04-16 13:06] nmco commented on #198
Let's close this @taba90.

[2021-04-16 13:08] simboss commented on #198
is this implemented?

[2021-04-16 13:26] nmco opened #270 "Improve GeoServer filters logging"

[2021-04-16 13:28] nmco commented on #145
Back-ports merged, this will be available on the nightly builds starting tomorrow.

[2021-04-16 13:33] nmco commented on #219
@Sylvain told me he is testing this.

[2021-04-16 14:07] nmco commented on #246
@simboss done.

[2021-04-18 23:05] nmco commented on #198
@simboss there is a PR long pending from @taba90, I have ask him to cleaned and contribute it.

[2021-04-20 13:42] taba90 opened #271 "Features templating refact current code, implemented for the Builder tree creation"
Currently the builder tree is created trough an implementation of a [TemplateReader ](https://github.com/geoserver/geoserver/blob/ee4bd95ffe8dd862ac6375e332fc5fb6c6957582/src/community/features-templating/features-templating-core/src/main/java/org/geoserver/featurestemplating/readers/TemplateReader.java#L10) interface and use the [BuilderFactory ](https://github.com/geoserver/geoserver/blob/a717c8

[2021-04-20 13:54] simboss commented on #198
please, @taba90 @nmco let's make sure we do not let PR rot

[2021-04-20 17:04] simboss commented on #145
cool, thx.

Let's leave it open until @giohappy decides to start using it.

[2021-04-21 08:02] nmco commented on #224
Let's follow the usual workflow:

1. Time-box the initial investigation of the issue to 4 hours MAXIMUM.
2. Clarify the context of the task, make sure you have everything needed to move on.
3. Provide a plan and estimate to handle the reported issue, report on the issue.
4. Wait for the green light from the PM before moving on with the implementation.

[2021-04-21 12:59] taba90 commented on #271
Result of brainstorm between @taba90 and @nmco on 20-04-2021

- We could refact the builder  tree to simply accept a string and return a string with template directive resolved.
- In this way we would have the ability to easily add support for xml output format since we would ignore the concept of attribute name that is present in json.
- It would be necessary to delay filter, cql expression and p

[2021-04-21 15:40] taba90 opened #272 "Plan to implement Features-Templating UI and multiple templates supports"
@taba90 commented on [Wed Apr 21 2021](https://github.com/geosolutions-it/support/issues/1335)

- The template configuration will be stored in the MetadataMap. For each template entry will be defined: mimeType, an optional regex rule to be applied to a request and tell if the template match it, the template path or url.
- The Template are loaded from the [TemplateConfiguration ](https://github.com

[2021-04-22 07:52] zvrablik commented on #224
* DiskMarkFeatureIterator is created to paint layer features and closed
	* it uses temp file in /tmp/ direcotry
	* when the iterator is closed, file is deleted
	* uses SimpleFeatureIO (MarkFeatureIterator line 161)
	* the iterator is used later again in ZGroupLayer drawFeatures uses ZGroupLayerPainter paintKey and could request rewind the iterator and start iterating from 0 again.
	* issue does no

[2021-04-22 10:57] nmco commented on #224
Needs @nmco help to close the estimate.

[2021-04-22 11:12] nmco commented on #223
Let's follow the usual workflow:

1. Time-box the initial investigation of the issue to 4 hours MAXIMUM.
2. Clarify the context of the task, make sure you have everything needed to move on.
3. Provide a plan and estimate to handle the reported issue, report on the issue.
4. Wait for the green light from the PM before moving on with the implementation.

[2021-04-22 13:03] taba90 opened #273 "Implementation of UI interface for features templating plug-in"
UI interface for feature templating plug-in implementation.
Plan available [here](https://github.com/geosolutions-it/geoserver/issues/272)

[2021-04-22 21:44] nmco commented on #243
Feedback from @dromagnoli available [HERE](https://docs.google.com/document/d/18rr--R7UiJwPlZdROrwG5i39L1LESjvi6hO953VGK98/edit#bookmark=id.rghtqv3o1hr8).

[2021-04-22 21:45] nmco commented on #248
Feedback from @dromagnoli available [HERE](https://docs.google.com/document/d/18rr--R7UiJwPlZdROrwG5i39L1LESjvi6hO953VGK98/edit#bookmark=id.rghtqv3o1hr8).

[2021-04-22 21:46] nmco opened #274 "Clarify: TG Requirement 1 The WCS download service instance shall conform to WCS 2.0 Conformance Class ‘core WCS’:"

[2021-04-22 21:48] nmco opened #275 "Implement: TG Requirement 3 AcceptedLanguages request parameter"
For reference:
_TG Requirement 3 If a client provides a language as part of a request and if that language is contained in the list of supported languages, the natural language fields of the service response shall be in the requested language. (Note, capabilities return Language eng but AcceptedLanguages is not a currently supported request parameter)_

[2021-04-22 21:50] nmco opened #276 "Investigation: TG Requirement 4 need to check about the spatialidentifier id"
For reference:
_TG Requirement 4 The Extended Capabilities shall be valid against the XML Schema for download services as defined in the INSPIRE online schema repository (Scenario1) Need to check about the spatialidentifier id._

[2021-04-22 21:52] nmco opened #277 "Clarify: TG Requirement 9 do we have any capabilities in GeoServer to support multiple languages?"
For reference:
_TG Requirement 9 The Extended Capabilities shall indicate the response language used for the GetCapabilities-Response: Depending on the requested language the value of the <inspire_common:ResponseLanguage> corresponds to the current used language. If a supported language was requested, <inspire_common:ResponseLanguage> shall correspond to that requested language. If an unsupported

[2021-04-22 21:55] nmco opened #278 "Follow up on: Inspire coverages and WCS #22"
Issue available [HERE](https://github.com/INSPIRE-MIF/helpdesk/issues/22).

[2021-04-23 07:16] simboss commented on #278
done

[2021-04-23 07:16] #278 closed

[2021-04-23 08:11] zvrablik commented on #223
@nmco  how should the new http layer config co-exists with individual layer http layer config?
1. Should it be ignored and use specified value in layer group http layer config only
2. Use value specified in layer group config if defined or use existing implementation - iterating of all layers in layer group.
see here
https://github.com/geoserver/geoserver/blob/633a426612c1b7753df8dd9e9922c687046e7

[2021-04-23 08:52] nmco commented on #272
Meeting minutes 23-04-2021:
- Storing templates should follow the same approach we use for styles:
  - The templates should be stored locally inside the GeoServer data directory, inside a dedicated data directory.
  - A feature template can be global or workspace, this is just the structure of the feature template directly, any layer will be able to use any template.
  - When you define the templa

[2021-04-23 08:57] zvrablik commented on #223
update, I have talked to Andrea,
1. subclassing should inherit the html file
2. use wicket:child  wicket:extend  , see GeoServerErrorPage
![Screenshot from 2021-04-23 10-39-21](https://user-images.githubusercontent.com/1183452/115846594-5c574a80-a422-11eb-93bf-848fec017027.png)
![Screenshot from 2021-04-23 10-38-54](https://user-images.githubusercontent.com/1183452/115846628-65481c00-a422-11eb-820

[2021-04-23 09:01] zvrablik commented on #223
hints from discussion with Andrea
[diff.txt](https://github.com/geosolutions-it/geoserver/files/6364095/diff.txt)

[2021-04-23 10:08] zvrablik commented on #224
The iterator is closed (only if DiskMarkFeatureIterator is used), MemoryMarkFeatureIterator is fine as it does nothing when closed.
https://github.com/geotools/geotools/blob/9437e2c6ee3405278b74c154ca3373bb87401a29/modules/library/render/src/main/java/org/geotools/renderer/lite/ZGroupLayer.java#L195-L202

The closed iterator is called again
https://github.com/geotools/geotools/blob/9437e2c6ee34052

[2021-04-23 10:28] nmco commented on #224
My recommendation @zvrablik is to:
- Don't close the iterator when creating it [HERE](https://github.com/geotools/geotools/blob/9437e2c6ee3405278b74c154ca3373bb87401a29/modules/library/render/src/main/java/org/geotools/renderer/lite/ZGroupLayer.java#L196).
- Assuming that the close method will always be correctly invoked on [the painter object](https://github.com/geotools/geotools/blob/9437e2c6ee3

[2021-04-23 10:45] nmco commented on #223
@zvrablik did you agree with @aaime on a technical plan? If yes what's the final estimate?

[2021-04-23 15:02] aaime commented on #224
The painter is a closeable so that should be fine, just make sure the painter itself is closed, no matter what happens (even if the rendering goes belly up to due a OOM for example, the OOM might be transient, but if we start accumulating files that are not closed, the JVM will eventually reach some OS limit and be punished)

[2021-04-23 15:07] zvrablik commented on #224
I would like to remove the try block as we discussed on skype.

/blob/9437e2c6ee3405278b74c154ca3373bb87401a29/modules/library/render/src/main/java/org/geotools/renderer/lite/ZGroupLayer.java#L196-L206) and add @SuppressWarnings("PMD.CloseResource")

I am sure the iterator is closed by the ZGroupPainter which uses the iterator later.

Existing test testCrossRoadsBuildingsOnZ of ZOrderTest could be

[2021-04-23 15:14] aaime commented on #224
@zvrablik extend the test so that it uses both the in memory and the on disk sorting ([you can make it parametric if you want](https://www.tutorialspoint.com/junit/junit_parameterized_test.htm), or just add more test methods).

Estimate is optmimistic, you need to run full builds locally, pass QA checks as well, a PR review, and do backports to stable and maintenance (right @nmco? ). I would not g

[2021-04-23 15:59] zvrablik commented on #223
@nmco Should this be backported to any older branches?

[2021-04-26 06:32] zvrablik commented on #224
@aaime The iterators are closed without any object allocation [HERE](http://github.com/geotools/geotools/blob/9437e2c6ee3405278b74c154ca3373bb87401a29/modules/library/render/src/main/java/org/geotools/renderer/lite/ZGroupLayer.java#L127-L135), Only allocation I see is in java code when deleting file and jvm uses security manager. Is this ok to ignore?

[2021-04-26 06:35] zvrablik commented on #224
updated estimates as recommended by Andrea
17 hours ( contains 11 hours already taken to setup, reproduce and investigate the issue)

[2021-04-26 07:07] zvrablik commented on #223
updated estimates
initial investigation 10 hours
code 8 hours
documentation (+ setup sphynx and latex if needed) 4 hours
test code + manual testing - 4 hours
backports 2  hours
review 2 hours

**total time estimated  30 hours**

@aaime Do you agree with these estimates?

I have there one question. Each layer could have its own cache headers. Now there will be new configuration option in layer grou

[2021-04-26 08:09] zvrablik commented on #204
@aaime @nmco
The acme ldap does it have any option to work with the TLS too? Could you point me to any documentation how to setup?
Only port I see opened when I start acme ldap is 10389. Connecting to this without tls works.

Docs I was lookig at
 to setup ldpa without lts https://docs.geoserver.org/stable/en/user/security/auth/providers.html#secure-ldap-connections
edu module https://docs.geoserv

[2021-04-26 08:35] aaime commented on #223
@zvrablik nice to see all items that should go in a review, some comments:
* Initial investigation is not an estimate, it has happened already. So if you spent 10 hours, that's it.
* Documentation, you don't need latex but you'll have to setup sphynx. With pypy or easy-install it's a matter of a minute, but you'll have to get up to speed about writing docs using that tool. [See the quickstart guid

[2021-04-26 09:17] zvrablik commented on #223
Thanks @aaime
I am going to look at max-age settings in the wms. You are right I checked only the GWC path, where the max-age of layer group was already used.

[2021-04-26 13:31] zvrablik commented on #223
Talked again about the GetMapKvpReader with Andrea,
here are steps we agreed for the implementation

1. I create metadata field in MapLayerInfo to be able to set there the timeout value set in the group layer configuration.
2. Requesting metadata from layer would return new metadata where values from MapLayerInfo take precedence.
3. getting the timeout from MapLayerInfo - it would override the lay

[2021-04-26 14:05] nmco commented on #224
So you spend 11 hours investigating \ prepare and the estimate and you need 6 hours? In that case go ahead.

[2021-04-27 07:39] zvrablik commented on #204
I am able to make ldap working with the acme mock jar ldap. Works fine following steps [here](https://docs.geoserver.geo-solutions.it/edu/en/security/ldap_authentication.html)

I can't use the acme jar file to test with TLS configuration I don't see open port 10636 so I think it does not have tls mock support.

I tried using OpenDJ, but I can't get it working even without TLS. I have created ldif

[2021-04-27 09:23] nmco commented on #271
So let's go whit the current approach, which is fine since:
- we don't foreseen a lot more formats apart from XML and JSON
- small refactoring will be done to avoid code duplication

The main drawback of the current approach is that there is not a decoupling between the format parsing and the builder tree business,  all builders will need to be sub-classed a specialized for each format.

[2021-04-27 09:23] nmco commented on #271
The refactoring will be done while implementing the XML support.

[2021-04-27 10:06] nmco commented on #269
We need to define the final syntax by taking the stations use case GeoJSON template and translate the properties from GML to domain properties. The example we used for our discussion @taba90:
[code]
The reverse mapping will be based on the App-Schema mappings.

When defining a templating the user should be able to validate against a layer (for example like we do for styles) the validation would ba

[2021-04-27 10:18] nmco commented on #245
Two notes:
- We may need to rely on the SAX parser because of the namespaces not being always defined.
- Namespaces will need to be included (there is a dedicated issue for this).
- An example of an XML template is available [HERE](https://docs.google.com/document/d/1M8pWlhaL3I5sVtweIJnN622-ja5AOajWryDQFudAR4U/edit).

[2021-04-27 10:20] nmco commented on #234
Plan discussed here, 4 days of work will be needed and 1 for the review and contirbution. Go ahead @taba90

[2021-04-27 10:22] nmco commented on #272
As we discuss @taba90 we will need to estimate also a tab to provide on the fly validation, similar to what we have for the SLD styles. The goal is to allow the user to select a template, edit it, and test it against a layer.

[2021-04-27 10:35] nmco opened #279 "JMeter performance measuring"
We need to prepare a small performance test report for VIANOVA. The tests should focus on the forecast layers. A few notes:
- Vianova needs to handle more or less 1 million requests per week.
- There may be peeks of 40 users requesting the system in paralleled (40 threads requesting the system in parallel).
- The forecast layers should all be requested in parallel, not as a layer-group.
- We shoul

[2021-04-27 12:17] zvrablik commented on #224
I need review. Pull request is [here](https://github.com/geotools/geotools/pull/3476)

[2021-04-27 13:56] nmco commented on #204
Notes:
- @zvrablik uses linux, hence can't use directly the training package

@zvrablik let's have a quick session, I'm curious about what GeoServer uses for the integration tests.

[2021-04-28 08:24] dromagnoli commented on #274
We need to support gml-coverage, formerly known as gml 3.2.1 application schemas for coverages, now known as
OGC 09-146r2, OGC® GML Application Schema for Coverages, version 1.0
(CIS 1.0).

[2021-04-28 13:35] dromagnoli commented on #275
From the Technical Guidance:
The AcceptLanguages request parameter as defined by the [OWS 2] standard used by [OGC WCS]
accepts one or more RFC 4646 5 language codes and an optional special character “*”.
See table 15 of the Technical Guidance

Quoting the guidance:
To express a preference for a response in a language or languages of your choice a request should also include one or more
language v

[2021-04-29 12:33] nmco commented on #204
@fernandor777 support @zvrablik installing and configuring Apache DS. @zvrablik still needs to validate that it works.

[2021-04-29 14:31] giohappy opened #280 "Geoserver cannot retrieve the image set in an ExternalGraphic SLD element"
Something goes wrong with **Geoserver** with [this image](https://pngimg.com/uploads/mario/mario_PNG53.png), which can be reached from the Geoserver machine (tested with `wget`. If I use it inside the following correct style, I get the WARNING reported below, and the final marker is a **grey square**.

**Style**
[code]

**Geoserver warning**
`WARN [renderer.style] [http-nio-8080-exec-5] - Unable t